<div class="modal fade" id="report_sentence_modal" tabindex="-1" aria-labelledby="ReportSentence" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered" style="max-width:600px">
        <div class="modal-content px-lg-4 px-md-4 pt-lg-4 pt-md-4 pb-md-2 pb-lg-2 p-3 border-primary border-2" style="border-radius:12px">
            <div class="modal-header py-0 d-block border-0">
                <h4 class="modal-title text-center font-family-Rowdies">
                    <%= __('Report Content') %>
                </h4>
                <button type="button" id="report_close_btn" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body px-0 pt-1 px-md-3 px-lg-3 pb-lg-3 pb-md-3 pt-lg-1 pt-md-1">
                <div class="mb-3 pb-3 text-center border-bottom report_para">
                    <%= reportPara %>
                </div>
                <% REPORT.forEach(option =>{ %>
                    <div class="mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="reportRadio" id="<%= `${option.h1}_id` %>" value="<%= option.h1 %>">
                            <label class="form-check-label xs-radio-label" for="<%= `${option.h1}_id` %>">
                                <%= option.h1 %>
                            </label>
                        </div>
                        <div class="option-text">
                            <%= option.p1 %>
                        </div>
                    </div>
                <% }) %>
                <div class="mb-4">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="reportRadio" id="others_id" value="Others">
                        <label class="form-check-label xs-radio-label" for="others_id">
                            <%= __('Others')%>
                        </label>
                    </div>
                </div>
                <textarea maxlength="1000" id="other_text" class="w-100 p-3 other-reason mb-4" rows="3" placeholder="<%= __('Please specify the reason (Optional)')%>"></textarea>
            </div>
            <div class="modal-footer border-0">
                <div class="d-flex row m-0 w-100 justify-content-center">
                    <button id="report_submit_id" class="btn btn-custom-primary w-75 border-50" disabled="disabled"><%= __('Submit')%></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="report_sentence_thanks_modal" tabindex="-1" aria-labelledby="ReportSentenceThankYou" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content p-4 border-primary border-2" style="border-radius:12px">
            <div class="modal-header d-block border-0">
                <h4 class="modal-title text-center">
                    <%= __('Thank You') %>
                </h4>
                <button type="button" id="report_sentence_thanks_close_id" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center"><%= reportThankYou %></div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/common/report.js"></script>
