<footer class="bottom bg-footer-primary bg-white pt-3 w-100">
    <div class="container-fluid font-s-12">
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-around align-items-sm-center align-items-md-center text-center">
            <div class="d-none">
                <p class="text-muted">Supported by EkStep Foundation (built on <a href="https://sunbird.org/ai">sunbird.org/ai</a>)</p>
            </div>
            <div class="d-lg-inline-flex justify-content-around mb-2 footer-links">
                <div class="py-2 px-16 d-none">
                    <a href="<%- `${path}about-us.html`%>" class="text-btn-primary">
                        About Us
                    </a>
                </div>
                <div class="py-2 px-16">
                    <a href="<%- `${path}terms-and-conditions.html`%>" target="_blank" class="text-btn-primary font-weight-bold"><%= __('Terms & Conditions') %></a>
                </div>
                <div class="py-2 px-5">
                    <a href="<%-`${path}terms-and-conditions.html#privacy-policy` %>" target="_blank" class="text-btn-primary font-weight-bold"><%= __('Privacy Policy') %></a>
                </div>
            </div>
            <div class="row mx-0 mb-2" id="social-links">
                <script>
                    $(document).ready(function () {
                        const url = window.location.href;
                        if (url.includes('uat-nplt.vakyansh.in')) {
                            const links = $('#social-links')
                            links.addClass('d-none');
                        }
                    })
                </script>
                <div class="col-12 pb-0 text-center">
                        <span class="font-weight-bold pr-2 d-block d-lg-inline d-md-inline mb-2 mb-lg-0 mb-md-0"> <%= __('Share it with your friends and family') %></span>
                        <a href="<%- `https://www.facebook.com/sharer/sharer.php?u=bhashini.gov.in/bhashadaan/${locale}/home.html` %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none mr-1 ml-1">
                            <img src="/img/fb-icon.svg" width="24" height="24" alt="Share on Facebook">
                        </a>
                        <a id="linkedin_share" href="<%- `https://www.linkedin.com/shareArticle?mini=true&url=https://bhashini.gov.in/bhashadaan/${locale}/home.html` %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none mr-1 ml-2">
                            <img src="/img/linkedin-icon.svg" width="24" height="24" alt="Share on LinkedIn">
                        </a>
                        <a id="twitter_share" href="https://twitter.com/intent/tweet?text=I've contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer" class="mr-1 ml-2">
                            <img src="/img/twitter-icon.svg" width="24" height="24" alt="Share on Twitter">
                        </a>
                        <a id="whatsapp_share" href="https://api.whatsapp.com/send?text=I've contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer" class="mr-1 ml-2">
                            <img src="/img/whatsapp.svg" width="24" height="24" alt="Share on Whatsapp">
                        </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async src="/js/common/locale.js"></script>