<div class="col-lg-10 col-md-12 col-10 d-flex flex-column flex-lg-row flex-md-row align-items-center" id="language-goal">
  <span class="downloadable_badges d-flex"> </span>
  <span class="mt-3 mt-lg-0 mt-md-0 sentence_away_msg" id="sentence_away_msg">
    <%- __(`${TEXT} <b id="sentence-away-count"></b> <b>${TEXT2}</b> to earn your
    <span id="sentence_away_badge"></span> Badge.`)%>
  </span>
  <span class="mt-3 mt-lg-0 mt-md-0 mr-lg-2 mr-md-2 pr-lg-1 pr-md-1 sentence_away_msg d-none" id="badge_4_reward_msg_1">
    <%- __(`${TEXT} to keep your language on top.`)%>
  </span>
  <span class="mt-3 mt-lg-0 mt-md-0 mr-lg-2 mr-md-2 pr-lg-1 pr-md-1 sentence_away_msg d-none" id="badge_4_reward_msg_2">
    <%- __(`${TEXT} to see your language on top.`)%>
  </span>
  <span class="badges_information mt-3 mt-lg-0 mt-md-0 mb-2 mb-lg-0 mb-md-0 d-flex">
    <button class="m-0 p-0 pr-lg-1 pr-md-1 btn border-0" disabled="disabled" data-badge="badge_1" href="#" id="<%= `badge_1_badge_link` %>">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="mr-lg-2 mr-md-2 mr-3" alt="badge_1" height="52" width="41" id="<%= `badge_1_badge_link_img`%>">
    </button>
    <button class="m-0 p-0 pr-lg-1 pr-md-1 btn border-0" disabled="disabled" data-badge="badge_2" href="#" id="<%= `badge_2_badge_link` %>">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="badge_2" height="52" width="41" class="disable mr-lg-2 mr-md-2 mr-3" id="<%= `badge_2_badge_link_img`%>">
    </button>
    <button class="m-0 p-0 pr-lg-1 pr-md-1 btn border-0" disabled="disabled" data-badge="badge_3" href="#" id="<%= `badge_3_badge_link` %>">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="badge_3" height="52" width="41" class="disable mr-lg-2 mr-md-2 mr-3" id="<%= `badge_3_badge_link_img`%>">
    </button>
    <button class="m-0 p-0 pr-lg-1 pr-md-1 btn border-0" disabled="disabled" data-badge="badge_4" href="#" id="<%= `badge_4_badge_link` %>">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="badge_4" height="52" width="41" class="disable mr-lg-2 mr-md-2" id="<%= `badge_4_badge_link_img`%>">
    </button>
  </span>
  <a href="../badges.html" class="thankyou-Know-More mt-4 mt-lg-0 mt-md-0 mb-2 mb-lg-0 mb-md-0">
    <%= __('Know More') %>
  </a>
  <a href="<%= url %> " class="btn btn-custom-primary rounded-pill btn-lg h6 float-right mb-0 mt-4 mt-lg-0 mt-md-0">
    <%= ButtonText %>
  </a>
</div>
