<div class="col-lg-10 col-md-6 col-8" id="language-goal">
    <span class="col-3">Validate 5 sentences to earn your 1st Badge. </span>
    <span class="badges_information col-4">
        <button class="m-0 p-0 btn border-0" disabled="disabled" data-badge="bronze" href="#" id="<%= `bronze_badge_link` %>">
            <img title="<%= `Download bronze badge`%>" src="<%= `/img/suno_bronze_medal_val.svg`%>" alt="" width="36px" class="disable" id="<%= `bronze_badge_link_img`%>">
        </button>
        <button class="m-0 p-0 btn border-0" disabled="disabled" data-badge="silver" href="#" id="<%= `silver_badge_link` %>">
            <img title="<%= `Download silver badge`%>" src="<%= `/img/suno_silver_medal_val.svg`%>" alt="" width="36px" class="disable" id="<%= `silver_badge_link_img`%>">
        </button>
        <button class="m-0 p-0 btn border-0" disabled="disabled" data-badge="gold" href="#" id="<%= `gold_badge_link` %>">
            <img title="<%= `Download gold badge`%>" src="<%= `/img/suno_gold_medal_val.svg`%>" alt="" width="36px" class="disable" id="<%= `gold_badge_link_img`%>">
        </button>
        <button class="m-0 p-0 btn border-0" disabled="disabled" data-badge="platinum" href="#" id="<%= `platinum_badge_link` %>">
            <img title="<%= `Download platinum badge`%>" src="<%= `/img/suno_platinum_medal_val.svg`%>" alt="" width="36px" class="disable" id="<%= `platinum_badge_link_img`%>">
        </button>
    </span>
    <span><%= __('Know More')%></span>
    <a href="<%= url %> " class="btn btn-custom-primary rounded-pill btn-lg h6 col-2 float-right my-2">
        <%= ButtonText %>
    </a>
</div>