<!DOCTYPE html>
<html>
  <head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.css" integrity="sha256-1T9PQaTbbUusCVH72ahoGVZ1axGmU5uAOgSb4/GNXj8=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/sunoIndia/record.css">
    <link rel="stylesheet" type="text/css" href="../../css/common/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/gh/mattdiamond/Recorderjs@08e7abd99739be6946f19f6806ccb368138f2dd3/dist/recorder.js"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.js" integrity="sha256-22tRfnWCd6VIZ8O39ATlPY3pctqfFp9tFsyl4swl+VQ=" crossorigin="anonymous"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer="defer" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script async src="../../js/sunoIndia/record.js"></script>
    <script async src="../../js/common/mic-speaker-testing.js"></script>

  </head>
  <body>
    <%- include ../common/headerWithoutNavBar.ejs %>
    <div id="loader" class="overlay__content"><span class="spinner"></span></div>
    <div id="page-content" class="d-none">
      <div id="content-wrapper" class="container-fluid d-flex flex-column">
        <%- include ../common/recording-instructions.ejs %>
        <div class="d-flex justify-content-end pt-3 record-btn-container">
          <%- include ../common/report-btn.ejs %> 
          <%- include ../common/mic-speaker-test-btn.ejs %>
        </div>
        <%- include ../common/mic-speaker-testing.ejs %>
        <div class="xs-p-16">
          <div class="row justify-content-center my-5">
            <div class="col-md-8 col-sm-10 text-center prompt">
              <label class="h1 font-weight-normal" id="sentenceLbl"></label>
            </div>
          </div>
          <div class="row mt-5">
            <%- include ../common/progress-bar.ejs %>
          </div>
          <div class="recording-container">
            <div class="row justify-content-center d-none">
              <div class="col-8 text-muted h-1r" id="get-started"> <%= __('Let\'s get started!') %> </div>
            </div>
            <div class="row justify-content-center d-none" id="recording-row">
              <%- include ../common/recorder.ejs %>
            </div>
            <div class="row justify-content-center d-none count-down" id="count-down">
              <span class="align-middle" id="cont-down-span">
                <%- __('Recording will automatically stop after <span id="counter"></span> seconds') %>
              </span>
            </div>
            <div class="row justify-content-center">
              <%- include ../common/audio.ejs %>
            </div>
          </div>
          <%- include('../common/contribution-actions.ejs',{"primary":"Submit","secondary":"Cancel","play":"Replay"}); %>
        </div>
      </div>
    </div>
    <%- include ../common/footer.ejs %>
    <%- include('../common/report.ejs',{"REPORT":[{h1:"Offensive",p1:"Hurting sentiments of religion, community or abusive content etc."},{h1:"Prohibited Content",p1:"Hateful / Discriminatory / Vulgar language, drugs promotion etc."},{h1:"Political Statement",p1:"Hateful Political views, amplifying hate-speech etc."},{h1:"Misinformation",p1:"Hearsay / Rumors, deliberate falsified facts etc."}]}); %>
    <%- include('../common/unexpected-error.ejs'); %> 
  </body>
</html>
