<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bhasha Daan: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bhasha Daan: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="Bhasha Daan: A crowdsourcing initiative for Indian languages">
    <meta property="og:type" content="website">
    <meta property="og:description" content="I\'ve contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?">
    <meta property="og:site_name" content="Bhasha Daan">
    <meta property="og:url" content="https://bhashini.gov.in/bhashadaan">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B5X6CXDBNP"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-B5X6CXDBNP")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/sunoIndia/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>

<body class="bg-secondary">
<%- include('../common/header.ejs',{home:"../home.html", bolo:"./home.html", suno:"../sunoIndia/home.html",likho:"../likhoIndia/home.html",dekho:"../dekhoIndia/home.html",path:"../"}); %>
<div class="container-fluid supreme-container bg-body-primary">
    <div class="row">
        <%- include('../common/moduleIntro.ejs',{name:'Bolo',intro:'Enrich your language by donating your voice', img:"BoloIndiaLogo.svg"}); %>
    </div>
    <%- include ../common/languageNavBar.ejs %>
    <div class="m-auto row justify-content-center mt-lg-4 mx-lg-5 pb-5">
        <div class="col-12 col-md-5 col-lg-5 text-dark mt-4 card card1 mr-lg-3 mr-lg-4 justify-content-center align-items-center py-3" id="say">
            <div id="say_container" class="row align-items-center py-lg-5 position-relative col-10 card_container px-0" style="height:100%">
                <div class="col-8 px-0">
                    <h1 class="display-5 font-family-Rowdies">
                        <%= __('Speak') %>
                    </h1>
                    <div class="mt-3 font-weight-normal">
                        <%= __('Contribute your voice') %>
                    </div>
                </div>
                <div class="col-4 text-right px-0">
                    <img src="/img/say.svg" alt="speaker" id="start_recording" class="cursor-pointer say-logo img-fluid" width="140px" height="140px">
                </div>

                <div id="say-p-2" class="col-12 d-none position-absolute px-0" style="bottom:1rem">
                    <div>
                        <%= __('Contribute your voice to create an open data repository of Indian languages') %>
                    </div>
                    <div class="col-5 col-lg-5 col-xl-4" id="say-loader">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div id="say-p-3" class="font-wt-900 mt-2 mt-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 text-dark mt-4 card card2 ml-lg-3 ml-md-4 justify-content-center align-items-center py-3" id="listen">
            <div id="listen_container" class="row position-relative align-items-center py-lg-5 col-10 card_container px-0" style="height:100%">
                <div class="col-8 px-0">
                    <h1 class="display-5 font-family-Rowdies">
                        <%= __('Validate') %>
                    </h1>
                    <div class="mt-3 font-weight-normal">
                        <%= __('Validate what they say') %>
                    </div>
                </div>
                <div class="col-4 text-right px-0">
                    <img src="/img/listen.svg" alt="validator" id="start_validating" class="cursor-pointer listen-logo img-fluid" width="140px" height="140px">
                </div>
                <div class="col-12 d-none position-absolute px-0" id="listen-p-2" style="bottom:1rem">
                    <div>
                        <%= __('Help us by validating the recordings that others have contributed') %>
                    </div>
                    <div class="col-7 col-lg-6 col-xl-6" id="listen-loader">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div id="listen-p-3" class="font-wt-900 mt-2 mt-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-5" style="background:#43c0d7;height:8px;border-radius:0 0 32px 32px"></div>
<div class="container-fluid supreme-container bg-secondary">
    <div class="row" id="contribution_stats">
        <div class="col-12 col-md-11 col-lg-11 ml-lg-auto p-5 mt-4 text-dark">
            <h2 class="font-wt-900 site-blue lh-5 font-family-Rowdies">
                <%= __('Contributions made to Bolo India') %>
            </h2>
            <div class="row mt-5" id="speaker-data">
                <div class="col-12 col-lg-11 col-md-11">
                    <div class="row justify-content-center" id="loader1">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div class="row text-center contribution-details" id="contribution-details">
                        <%- include('../common/contributionStats.ejs',{labels :[__('Languages'),__('Speakers contributed'),__('Duration recorded'),__('Duration validated')]}) %>
                    </div>
                    <%- include ../common/horizontal_tri_color_line.ejs %>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 lazy">
        <div class="col-12 col-md-12 col-lg-11 p-5 ml-lg-auto">
            <div id="bar_charts_container">
                <h2 class="mb-4 font-family-Rowdies">
                    <%= __('Language Tracker') %>
                </h2>
                <div class="row mx-0 mb-2">
                    <div class="col-lg-4 pl-0 col-md-4 col-12">
                        <div class="font-family-Rowdies">
                            <h5> <%= __('Your language and top 3 contributed languages') %></h5>
                         </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pr-0 col-12 text-right">
                    <label class="form-check-label mr-5" for="flexRadioDefault1">
                    <input class="form-check-input" type="radio" name="topLanguageChart" id="hours_chart" value="hours" checked="checked">
                            <%= __('By duration of hours') %>
                        </label>
                        <label class="form-check-label" for="flexRadioDefault2">
                        <input class="form-check-input" type="radio" name="topLanguageChart" id="speakers_chart" value="speakers">
                            <%= __('By number of speakers') %>
                        </label>
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-none" id="topLanguageSpinner">
                    <div><span class="spinner"></span></div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-8 col-md-8 col-12 p-4 bg-white">
                        <%- include('../common/verticalGraph.ejs',{text:"Total recordings"}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../common/viewAllDetailBtn.ejs',{DASHBOARD:'./dashboard.html'}); %>
</div>

<%- include('../common/speakerDetails.ejs',{path:"../"}) %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('../common/feedback.ejs', {page:"Bolo India Home"}) %>
<%- include('../common/footer.ejs',{path:"../"}) %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>
<script src="/js/home.js" id="home-page" default-lang=""></script>
<script src="/js/loadFeedback.js"></script>
<script src="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.js"></script>

</body>
</html>