<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="<%= __('Bolo India: A crowdsourcing initiative for Indian languages') %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= __('I\'ve contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?') %>">
    <meta property="og:site_name" content="Bolo India ">
    <meta property="og:url" content="https://boloindia.nplt.in">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B5X6CXDBNP"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-B5X6CXDBNP")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common.css">
</head>

<body>
<%- include('../common/header.ejs',{home:"../home.html", bolo:"./home.html", suno:"../sunoIndia/home.html",likho:"../likhoIndia/home.html",dekho:"../dekhoIndia/home.html",path:"../"}); %>
<div class="container-fluid supreme-container">
    <div class="row">
        <%- include('../common/moduleIntro.ejs',{name:'Bolo India',intro:'Help your language by donating your voice'}); %>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-10 offset-lg-1 mt-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 flex-flow-nowrap" id="contribution_lang_navbar">
                <div class="mx-2">
                    <%= __('Select the language for voluntary contribution') %>:
                </div>
                <div class="navbar-collapse d-inherit mt-2 mt-lg-0 mt-md-0" id="navbarSupportedLanguage">
                    <div class="col-5 col-lg-5 col-xl-4" id="nav-bar-loader">
                        <div><span class="spinner"></span></div>
                    </div>
                    <ul class="navbar-nav text-primary cursor-pointer d-none flex-direction-row" id="language-nav-bar">
                        <li class="nav-item px-lg-4 px-md-4 px-2 options" value="Hindi">हिंदी</li>
                        <li class="nav-item px-lg-4 px-md-4 px-2 options" value="Marathi">मराठी</li>
                        <li class="nav-item px-lg-4 px-md-4 px-2 options" value="Bengali">বাংলা</li>
                        <li class="nav-item px-lg-4 px-md-4 px-2 options" value="Tamil">தமிழ்</li>
                        <li class="nav-item px-lg-4 px-md-4 px-2 options" value="Telugu">తెలుగు</li>
                    </ul>
                    <ul class="navbar-nav text-primary cursor-pointer">
                        <li class="nav-item mx-2 mx-lg-4 options d-none" id="6th_option"></li>
                    </ul>
                    <ul class="navbar-nav text-primary cursor-pointer">
                        <li class="nav-item mx-2 mx-lg-4 options">
                            <div id="Show_all_language" data-toggle="modal" data-target="#language-pop-up-wrapper" class="cursor-pointer"><%= __('Show All') %></div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="m-auto row justify-content-center mt-lg-4 mx-lg-5">
        <div class="col-12 col-md-5 col-lg-5 text-dark mt-4 card card1 mr-lg-3 justify-content-center align-items-center py-3" id="say">
            <div id="say_container" class="row align-items-center py-lg-5 position-relative col-10 card_container px-0" style="height:100%">
                <div class="col-8 px-0">
                    <h1 class="display-5">
                        <%= __('Speak') %>
                    </h1>
                    <div class="mt-3 font-weight-normal">
                        <%= __('Contribute your voice') %>
                    </div>
                </div>
                <div class="col-4 text-right px-0">
                    <img src="../../img/say.svg" alt="speaker" id="start_recording" data-toggle="modal" class="cursor-pointer say-logo img-fluid" data-target="#userModal" width="140px" height="140px">
                </div>

                <div id="say-p-2" class="col-12 d-none position-absolute px-0" style="bottom:1rem">
                    <div>
                        <%= __('Contribute your voice to create an open data repository of Indian languages') %>
                    </div>
                    <div class="col-5 col-lg-5 col-xl-4" id="say-loader">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div id="say-p-3" class="font-wt-900 mt-2 mt-lg-2"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 text-dark mt-4 card card2 ml-lg-3 justify-content-center align-items-center py-3" id="listen">
            <div id="listen_container" class="row position-relative align-items-center py-lg-5 col-10 card_container px-0" style="height:100%">
                <div class="col-8 px-0">
                    <h1 class="display-5">
                        <%= __('Validate') %>
                    </h1>
                    <div class="mt-3 font-weight-normal">
                        <%= __('Validate what they say') %>
                    </div>
                </div>
                <div class="col-4 text-right px-0">
                    <img src="../../img/listen.svg" alt="validator" id="start_validating" data-toggle="modal" class="cursor-pointer listen-logo img-fluid" data-target="#boloUserModal" width="140px" height="140px">
                </div>
                <div class="col-12 d-none position-absolute px-0" id="listen-p-2" style="bottom:1rem">
                    <div>
                        <%= __('Help us by validating the recordings that others have contributed') %>
                    </div>
                    <div class="col-7 col-lg-6 col-xl-6" id="listen-loader">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div id="listen-p-3" class="font-wt-900 mt-2 mt-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-11 col-lg-11 ml-lg-auto p-5 mt-4 text-dark">
            <h2 class="font-wt-900 site-blue lh-5">
                <%= __('Contributions made to Bolo India') %>
            </h2>
            <div class="row mt-5" id="speaker-data">
                <div class="col-12 col-lg-11 col-md-11">
                    <div class="row justify-content-center" id="loader1">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div class="row text-center contribution-details" id="contribution-details">
                        <%- include('../common/contributionStats.ejs',{labels :['Languages','Speakers contributed','Hrs recorded','Hrs validated']}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 lazy">
        <div class="col-12 col-md-12 col-lg-11 p-5 ml-lg-auto">
            <div id="bar_charts_container">
                <h4 class="h4 mb-4">
                    <%= __('Your language and top 3 most contributed languages') %>
                </h4>
                <div class="d-flex mb-3">
                    <div class="form-check mr-5"><label class="form-check-label" for="flexRadioDefault1"><input class="form-check-input" type="radio" name="topLanguageChart" id="hours_chart" value="hours" checked="checked">
                            <%= __('By hours of data recorded and validated') %>
                        </label></div>
                    <div class="form-check"><label class="form-check-label" for="flexRadioDefault2"><input class="form-check-input" type="radio" name="topLanguageChart" id="speakers_chart" value="speakers">
                            <%= __('By number of speakers') %>
                        </label></div>
                </div>
                <div class="justify-content-center align-items-center d-none" id="topLanguageSpinner">
                    <div><span class="spinner"></span></div>
                </div>
                <%- include ../common/horizontalBarGraph.ejs %>
            </div>
        </div>
    </div>
    <%- include('../common/viewAllDetailBtn.ejs',{DASHBOARD:'../dashboard.html'}); %>
</div>

<div class="modal fade" id="modal-chart-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg w-75 mw-100 h-75 mx-auto">
        <div class="modal-content border-primary border-2 h-100 p-lg-5 px-2 py-4">
            <div class="text-right" aria-label="Close"><a href="#" aria-hidden="true" data-dismiss="modal">
                    <%= __('Hide details') %> &lt;
                </a></div>
            <div id="modal-chart" class="h-100"></div>
        </div>
    </div>
</div>
<button data-toggle="modal" data-target="#content-language" class="d-none" id="toggle-content-language"></button>


<%- include ../../../src/views/modals/speakerDetail.ejs %>
<%- include ../common/content-languages.ejs %>
<%- include ../common/say-listen-language.ejs %>

<div class="modal fade" id="boloUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 border-primary border-2">
            <div class="margin-left-auto"><button class="close float-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-header d-block border-0">
                <h1 class="modal-title text-center">
                    <%= __('User Details') %>
                </h1>
            </div>
            <div class="modal-body px-6" id="bolo-user-details">
                <p class="text-muted text-center">
                    <%= __('All the fields are optional') %>
                </p>
                <div class="col-12 text-center text-primary" id="boloResetBtn" style="cursor:pointer">
                    <%= __('Not You? Change User') %>
                </div>
                <div class="form-group mt-5"><label for="bolo-username" class="form-label">
                        <%= __('Username') %>
                    </label> <input class="form-control" maxlength="12" id="bolo-username" data-toggle="tooltip" placeholder="<%= __('Enter preferred username') %>" title="<% __('Username cannot be more than 12 characters') %>">
                    <div class="text-danger mt-2 d-none" id="bolo-username-error"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px" height="18px">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                        </svg> <span class="align-middle">
                            <%= __('Please don\'t use email or mobile number as user name') %>
                        </span></div>
                </div>
                <div class="form-group">
                    <label class="form-label mt-2">
                        <%- __('By proceeding ahead you agree to the <a href="../terms-and-conditions.html"> Terms and Conditions</a>') %>
                    </label>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12" data-toggle="tooltip" title="<%= __('Please validate any error message before proceeding')%>"><button type="button" id="bolo-proceed-box" class="btn btn-primary h6 shadow w-100 rounded p-3">
                            <%= __('LET\'S GO') %>
                        </button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%- include('../common/footer.ejs',{path:"../"}) %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>
<script src="../../js/home.js" id="home-page" default-lang=""></script>

<script src="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.js"></script>

</body>

</html>