<div class="modal fade" id="report_sentence_modal" tabindex="-1" aria-labelledby="ReportSentence" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0">
                <h4 class="modal-title text-center">
                    <%= __('Report Content') %>
                </h4>
                <button type="button" id="report_close_btn" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-4">
                    <%= __('Help us understand what’s wrong with the sentence') %>
                </div>
                <div class="mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportRadio" id="offensive_id" value="Offensive">
                        <label class="form-check-label" for="offensive_id">
                            <%= __('Offensive') %>
                        </label>
                    </div>
                    <div class="option-text">
                        <%= __('Hurting sentiments of religion, community or abusive content etc.') %>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportRadio" id="prohibitedContent_id" value="Prohibited Content">
                        <label class="form-check-label" for="prohibitedContent_id">
                            <%= __('Prohibited Content') %>
                        </label>
                    </div>
                    <div class="option-text">
                        <%= __('Hateful / Discriminatory / Vulgar language, drugs promotion etc.') %>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportRadio" id="politicalStatement_id" value="Political Statement">
                        <label class="form-check-label" for="politicalStatement_id">
                            <%= __('Political Statement') %>
                        </label>
                    </div>
                    <div class="option-text">
                        <%= __('Hateful Political views, amplifying hate-speech etc.') %>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reportRadio" id="misinformation_id" value="Misinformation">
                        <label class="form-check-label" for="misinformation_id">
                            <%= __('Misinformation') %>
                        </label>
                    </div>
                    <div class="option-text">
                        <%= __('Hearsay / Rumors, deliberate falsified facts etc.') %>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="reportRadio" id="others_id" value="Others">
                        <label class="form-check-label" for="others_id">
                            Others
                        </label>
                    </div>
                </div>
                <textarea maxlength="1000" id="other_text" class="w-100 p-3 other-reason mb-4" rows="3" placeholder="Please specify the reason (Optional)"></textarea>
                <div class="d-flex justify-content-center">
                    <button id="report_submit_id" class="btn btn-primary w-75" disabled="disabled">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="report_sentence_thanks_modal" tabindex="-1" aria-labelledby="ReportSentenceThankYou" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0">
                <h4 class="modal-title text-center">
                    <%= __('Thank You') %>
                </h4>
                <button type="button" id="report_sentence_thanks_close_id" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center"><%= __('Your feedback helps us keep the portal relevant to you, we appreciate you taking time to leave feedback for us.') %></div>
            </div>
        </div>
    </div>
</div>