<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 border-primary border-2">
            <div class="margin-left-auto"><button class="close float-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-header d-block border-0">
                <h1 class="modal-title text-center">
                    <%= __('Speaker Details') %>
                </h1>
            </div>
            <div class="modal-body px-6" id="speaker-details">
                <p class="text-muted text-center">
                    <%= __('All the fields are optional') %>
                </p>
                <div class="col-12 text-center text-primary" id="resetBtn" style="cursor:pointer">
                    <%= __('Not You? Change User') %>
                </div>
                <div class="form-group mt-5"><label for="username" class="form-label">
                        <%= __('Username') %>
                    </label> <input class="form-control" maxlength="12" id="username" data-toggle="tooltip" placeholder="<%= __('Enter preferred username') %>" title="<% __('Username cannot be more than 12 characters') %>">
                    <div class="text-danger mt-2 d-none" id="username-error"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px" height="18px">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                        </svg> <span class="align-middle">
                            <%= __('Please don\'t use email or mobile number as user name') %>
                        </span></div>
                </div>
                <div class="form-group"><label for="mother-tongue" class="form-label">
                        <%= __('Mother Tongue') %>
                    </label> <select class="form-control" id="mother-tongue">
                        <option selected="selected" value="">
                            <%= __('Select Mother Tongue') %>
                        </option>
                        <% MOTHER_TONGUE.forEach(function(lang) { %>
                            <option value="<%= lang %>">
                                <%= lang %>
                            </option>
                            <% }) %>
                    </select></div>
                <div class="form-group"><label for="age" class="form-label">
                        <%= __('Age Group') %>
                    </label> <select class="form-control" id="age">
                        <option selected="selected" value="">
                            <%= __('Select Age Group') %>
                        </option>
                        <option value="upto 10">upto 10 (Kid)</option>
                        <option value="10 - 30">10 - 30 (Youth)</option>
                        <option value="30 - 60">30 - 60 (Adult)</option>
                        <option value="60+">60+ (Senior)</option>
                    </select></div>
                <div class="form-group"><label for="gender" class="form-label">
                        <%= __('Gender') %>
                    </label>
                    <div class="justify-content-between">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male-check" value="male"> 
                                <label class="form-check-label m-2" for="male-check">
                                <%= __('Male') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female-check" value="female"> 
                            <label class="form-check-label m-2" for="female-check">
                                <%= __('Female') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="other-check" value="others"> 
                            <label class="form-check-label m-2" for="other-check">
                                <%= __('Others') %>
                            </label>
                        </div>
                    </div>
                    <div id="transgender_options" class="justify-content-between d-none">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trans_gender" id="trans-he-check" value="Transgender - He">
                            <label class="form-check-label m-2" for="trans-he-check">
                                <%= __('Transgender - He') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trans_gender" id="trans-she-check" value="Transgender - She"> 
                            <label class="form-check-label m-2" for="trans-she-check">
                                <%= __('Transgender - She') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trans_gender" id="not-say-check" value="Rather Not Say" checked="checked"> 
                            <label class="form-check-label m-2" for="not-say-check">
                                <%= __('Rather Not Say') %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label mt-2">
                        <%- __('By proceeding ahead you agree to the <a href="/terms-and-conditions"> Terms and Conditions</a>') %>
                    </label>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12"><button type="button" id="proceed-box" class="btn btn-primary h6 shadow w-100 rounded p-3" data-toggle="modal" data-target="#languageModal">
                            <%= __('LET\'S GO') %>
                        </button></div>
                </div>
            </div>
        </div>
    </div>
</div>