<html lang="en">


<head>
    <title>Bhasha Daan: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bhasha Daan: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body>
<%- include('../common/headerWithoutNavBar.ejs',{path:"../", MODULE:"Bolo", PAGE_TITLE:__('Dashboard'),img:"BoloIndiaLogo.svg",homePath:"./home.html"}); %>
<div class="padding-top-65">
<div class="dashboard-bg">
    <div class="container container-fluid supreme-container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <%- include('../common/back-btn.ejs',{url:"./home.html"}) %>
            </div>
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6">
                    <div class="text-primary mb-2 font-family-Rowdies" style="font-weight:300!important">
                        <%= __('Select a language') %>:
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 all-languages">
                    <div class="mt-2"><select class="btn bg-white dropdown-toggle h6 w-100 rounded mb-lg-4 mb-md-4 mb-2 p-3" id="language" autocomplete="off">
                            <option selected="selected" class="pointer" id="language_button" value="">
                                <%= __('All Languages') %>
                            </option>
                            <% LANGUAGES.forEach(function(lang) { %>
                                <option value="<%= lang.value %>">
                                    <%= lang.text %>
                                </option>
                            <% }) %>
                        </select></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 data-updated">
                    <div><span>
                                    <%= __('Data Last Updated') %>:
                                </span><span id="data-updated"></span></div>
                </div>
            </div>
        </div>
    </div>
    <%- include ../common/noDataFoundPopUp.ejs %>
    <div class="row" id="speaker-data">
        <div class="col-12">
            <div class="row text-center contribution-details contribution-stats d-none" id="contribution-details">
                <%- include('../common/contributionStats.ejs',{labels :[__('Languages'),__('Speakers contributed'),__('Duration recorded'),__('Duration validated')]})%>
            </div>
        </div>
    </div>
    <div class="row chart-row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 text-center d-flex justify-content-center align-items-center loader chart-spinner"><span class="spinner"></span></div>
                <div class="col-12 col-lg-6 text-center d-flex justify-content-center align-items-center loader chart-spinner"><span class="spinner"></span></div>
            </div>
            <div class="row justify-content-center chart-container">
                <div class="col-12 col-lg-5 text-center chart d-none timeline-chart-container">
                    <%- include ../common/lineGraph.ejs %>
</div>
                <div class="col-12 col-lg-5 text-center chart d-none">
                    <div class="text-left pb-3 chart-title">
                        <%= __('Gender Distribution') %>
                    </div>
                    <div id="gender-chart" class="h-100 pb-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row chart-row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 text-center d-flex justify-content-center align-items-center loader chart-spinner"><span class="spinner"></span></div>
                <div class="col-12 col-lg-6 text-center d-flex justify-content-center align-items-center loader chart-spinner"><span class="spinner"></span></div>
            </div>
            <div class="row justify-content-center chart-container">
                <div class="col-12 col-lg-5 mb-3 text-center chart state-chart text-dark p-4">
                    <div class="text-left px-3 pb-3 state-chart-text">
                        <%= __('State Wise distribution') %>
                    </div>
                    <%- include ../common/map.ejs %>
</div>
                <div class="col-12 col-lg-5 mb-3 text-center chart age-group-chart d-none p-4">
                    <div class="text-left px-3 pb-3">
                        <%= __('Age Group Distribution') %>
                    </div>
                    <div id="age-group-chart" class="h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<button data-toggle="modal" data-target="#content-language" class="d-none" id="toggle-content-language"></button>
<%- include('../common/speakerDetails.ejs',{path:"../"}) %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('../common/feedback.ejs', {page:"Dashboard"}) %>
<%- include('../common/footer.ejs',{path:"../"}) %>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/themes/animated.js"></script>
<script src="/js/draw-chart.js"></script>
<script src="/js/loadFeedback.js"></script>
</body>

</html>
