<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Bhasha Daan: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Bhasha Daan: A crowdsourcing initiative for Indian languages">
    <meta property="og:type" content="website">
    <meta property="og:description" content="I've contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?">
    <meta property="og:site_name" content="Bhasha Daan">
    <meta property="og:url" content="https://bhashini.gov.in/bhashadaan">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
    <script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sunoIndia/home.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sunoIndia/thankyou.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="d-flex h-100 flex-column">
<%- include('../common/headerWithoutNavBar.ejs',{path:"../",MODULE:"Suno", PAGE_TITLE:__('Transcribe'),img:"SunoIndiaLogo.svg",homePath:"./home.html"}); %>
<div id="content-wrapper" class="container-fluid padding-top-115 pb-4 pb-lg-2 pb-md-2 px-3 px-md-5 flex-grow-1 bg-tri-color h-100">
    <div class="text-center pt-5 pt-lg-0 pt-md-0">
        <div class="row position-absolute top-back-btn">
            <%- include('../common/back-btn.ejs',{url:"./home.html"}) %>
        </div>
        <%- include('../common/thankyouPageHeading.ejs',{text:"language",text1:"contributed", text2:"sentence(s)"}) %>
    </div>

    <%- include('../common/thankyouPageProgressBar.ejs', {module: 'Suno', text:'Hour(s)',language:'<language>'}) %>

    <div class="row mt-3 mt-lg-5 md-lg-4 lazy">
        <div class="col-lg-8 border overflow-hidden contribution-info">
            <div class="bg-white m-0 p-4-5 contribution-info-inner">
                <div class="col-lg-12 col-md-11 col-lg-11 thankyou-page ml-lg-auto">
                    <%- include ../common/badgesMilestone.ejs %>
                    <div class="row m-0" id="cardWithoutBadge">
                        <div class="col-lg-4 col-md-5 col-sm-6 pl-0">
                            <%- include('../common/thankyouPageParticipationMsg.ejs',{language:'<language>'}) %>
                            <%- include ../common/sharableLink.ejs %>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6 thankyou-bar-graph">
                            <div id="bar_charts_container">
                                <div class="justify-content-center align-items-center d-none" id="topLanguageSpinner">
                                    <div><span class="spinner"></span></div>
                                </div>
                                <%- include('../common/verticalGraphForThankyouPage.ejs',{text:"languages",language:'<language>'}) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ../common/thankyouPageBottomGraph.ejs %>

    <%- include('../common/feedback.ejs', {page: 'Contribution Thank You Page'}) %>
    <div class="row justify-content-center mt-5">
        <%- include('../common/languageGoal.ejs', {ButtonText:__('Contribute More'),url:"./record.html",TEXT:"Contribute",TEXT2:"sentence(s)", MODULE:"suno", PAGE:""})%>
    </div>

<%- include('../common/speakerDetails.ejs',{path:"../"}) %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/sunoIndia/thank-you.js"></script>
</div></body>
</html>