<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=`${config.title_1} ${config.title_2}: A crowdsourcing initiative for Indian languages (${config.version})`%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3B78XVT75C"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-3B78XVT75C")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/badges.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body class="bg-secondary">
    <%- include('common/header/header.ejs',{home:"./home.html", bolo:"./text/home.html",
        suno:"./asr/home.html",likho:"./parallel/home.html",dekho:"./ocr/home.html",path:"./"}); %>
        <div id="content-wrapper" class="content-wrapper container-fluid padding-top-107 bg-tri-color pb-2 px-lg-3 px-md-3 px-0">
            <div class="row px-0 m-0">
                <%- include('common/buttons/back-btn/back-btn.ejs',{url:"#"}) %>
            </div>
            <div id="badge-detail-container" class="container-fluid p-0 badge-detail-container">
                <div class="row m-0 pb-4 p-l-r-20 px-lg-0 px-md-0">
                    <div class="col-12 p-0">
                        <h2 class="mb-0 badges-detail-heading">
                            <%= __(`How can you win ${config.brand_contributor} Badges`) %>
                        </h2>
                    </div>
                </div>
                <div class="row mx-0 mt-lg-5 mt-md-5 mt-2 p-l-r-20 px-lg-0 px-md-0">
                    <div class="col-sm p-0">
                        <div class="row m-0">
                            <label class="col-4 col-lg-4 col-md-4 px-0 your-language-label mt-2 mt-lg-0 mt-md-0 mb-lg-0 mb-md-0">
                                <%= __('Your Language') %>
                            </label>
                            <select class="col-lg-5 col-md-8 col-8 btn dropdown-toggle h6 w-90 rounded badge-language-dropdown mb-lg-0 mb-md-0" id="languages">
                                <% LANGUAGES.forEach(function(lang) { %>
                                    <option value="<%= lang.value %>">
                                        <%= lang.text %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm p-0">
                    </div>
                </div>
                <div class="row mx-0 badge-mt-34 pb-1 pb-lg-1 pb-md-1">
                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <ul class="nav nav-tabs w-100 bg-white" id="initiative" role="tablist">
                                <li class="nav-item col-lg-3 col-md-3 p-0 text-center" id="asrTab">
                                    <a class="nav-link border-0 active light-bg font-family-Rowdies active ml-4 ml-lg-0 ml-md-0 pl-4" id="asr" data-toggle="tab" href="#asr" role="tab" aria-controls="asr" aria-selected="true">
                                            <%= __(config.initiative_1)%>
                                    </a>
                                </li>
                                <li class="nav-item col-lg-3 col-md-3 p-0 text-center" id="textTab">
                                    <a class="nav-link border-0 light-bg font-family-Rowdies" id="text" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">
                                            <%= __(config.initiative_2)%>
                                    </a>
                                </li>
                                <li class="nav-item col-lg-3 col-md-3 p-0 text-center" id="parallelTab">
                                    <a class="nav-link border-0 light-bg font-family-Rowdies" id="parallel" data-toggle="tab" href="#parallel" role="tab" aria-controls="parallel" aria-selected="true">
                                            <%= __(config.initiative_3)%>
                                    </a>
                                </li>
                                <li class="nav-item col-lg-3 col-md-3 p-0 text-center" id="ocrTab">
                                    <a class="nav-link border-0 light-bg font-family-Rowdies mr-4 ml-lg-0 ml-md-0 pr-4 mr-lg-0 mr-md-0" id="ocr" data-toggle="tab" href="#ocr" role="tab" aria-controls="ocr" aria-selected="true">
                                            <%= __(config.initiative_4)%>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 mt-lg-5 mt-md-5 mt-4 pt-3 pt-lg-0 pt-md-0 px-lg-0 px-md-0 p-l-r-20 px-lg-0 px-md-0">
                    <label class="col-lg-3 col-md-3 col-12 m-auto font-family-Rowdies pb-2 pb-lg-2 pb-md-2 px-0" style="font-weight:300!important">
                      <h5 class="mb-lg-3 mb-md-3 mb-4 badge-level-heading"> <%= __('Select Badge level')%></h5>
                    </label>
                    <div class="col-md-7 col-12 col-md-7 px-0">
                        <div class="row m-0 badge-level-section">
                            <div class="col-3 pl-lg-4 pr-lg-5 pl-1 pl-md-2 pr-2 card1">
                                <div class="badge-detail-widget badge-detail-widget-loader" id="badge_1_participation_badge">
                                </div>
                            </div>
                            <div class="col-3 pl-lg-4 pr-lg-5 pl-1 pl-md-2 pr-2 card2">
                                <div class="badge-detail-widget badge-detail-widget-loader" id="badge_2_participation_badge">
                                </div>
                            </div>
                            <div class="col-3 pr-lg-5 pl-1 pl-lg-4 pl-md-2 pr-2 card3">
                                <div class="badge-detail-widget badge-detail-widget-loader" id="badge_3_participation_badge">
                                </div>
                            </div>
                            <div class="col-3 pr-lg-5 pl-1 pl-lg-4 pl-md-2 pr-2 card4">
                                <div class="badge-detail-widget badge-detail-widget-loader" id="badge_4_participation_badge">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="row mx-0 mt-5 pt-0 pt-lg-1 pt-md-1 p-l-r-20 px-lg-0 px-md-0">
                    <label class="col-lg-3 col-12 col-md-3 px-1 px-lg-0 px-md-0 m-0" style="font-weight:300!important">
                       <h5 class="badge-level-heading"> <%= __('Participation')%> </h5>
                    </label>
                    <ul class="nav nav-tabs w-100 border-0 col-lg-8 col-md-8 col-12 p-l-r-20" id="participation-radios" role="tablist">
                        <li class="nav-item">
                            <input type="radio" class="form-check-input mt-2" value="contribute" checked="checked" id="contribute-radio" name="participation">
                           <h4 class="font-family-Rowdies badge-participation-radio"> <%= __('Contributions')%> </h4>
                        </li>
                        <li class="nav-item pl-4 ml-5">
                            <input type="radio" id="validate-radio" value="validate" class="form-check-input mt-2" name="participation">
                            <h4 class="font-family-Rowdies badge-participation-radio"><%= __('Validations')%> </h4>
                        </li>
                    </ul>
                </div>
                <div class="selected-badge-card-border">
                <div class="row mx-0 selected-badge-card">
                        <div class="col-lg-7 col-12 col-md-7 pt-4 px-lg-0 px-md-0 text-order">
                            <h1 class="font-family-Rowdies">
                                <%- __(`<span id="participation-type"></span> <span id="milestone" class="text-yellow"></span> <span id="text-type" class="text-yellow"></span> in <span id="contribution-language"></span> and earn <span id="initiative-name"></span> <span id="badge-color"></span> ${config.brand_contributor} badge`)%>
                            </h1>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-lg-4 col-12 col-md-4 pt-0 pt-lg-0 badge-image-detail pt-md-0">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="badge-img" alt="badge" height="320" width="250">
                        </div>
                    </div>
                </div>

                <div class="row mx-0 my-3 my-lg-1 my-md-1 py-4 p-l-r-20 px-lg-0 px-md-0">
                    <ul class="badge-details-notes px-0">
                        <li>
                            <%= __('Please keep contributing actively to stand a chance to get recognised.')%>
                        </li>
                        <li>
                            <%= __('Your contribution will be validated before confirming the badge.')%>
                        </li>
                        <li>
                            <%= __('Levels and badges may take upto 48 hours to update.')%>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <%- include('common/feedback/feedback.ejs', {page:"Badges Info"}) %>
            <%- include('common/footer.ejs',{path:"./"}) %>

                <%- include('common/modals/speakerDetails/speakerDetails.ejs',{path:"./"}) %>

                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    <script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>
                    <script src="/js/badges.js"></script>
                    <script src="/js/loadFeedback.js"></script>
</body>

</html>
