<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bhasha Daan: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/badges.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>

<body>
<%- include('common/header/header.ejs',{home:"./home.html", bolo:"./boloIndia/home.html", suno:"./sunoIndia/home.html",likho:"./likhoIndia/home.html",dekho:"./dekhoIndia/home.html",path:"./"}); %>
<div id="content-wrapper" class="container-fluid pt-5 pb-2 px-lg-3 px-md-3 px-4 px-md-5">
    <div class="row">
        <%- include('../../build/views/common/back-btn.ejs',{url:"#"}) %>
    </div>
    <div id="badge-container" class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <h2 class="mb-0"><%= __('Bhasha Samarthak Levels of Participation') %></h2>
        </div>
    </div>
    <div class="row mx-0 badge-mt-34">
        <div class="col-sm p-0">
            <div class="row m-0">
                <label class="col-4 col-lg-4 col-md-4 mt-2 px-0 pt-1"><%= __('Choose the initiative ') %></label>
                <select class="col-lg-7 col-md-8 col-8 btn dropdown-toggle h6 w-90 rounded" id="initiative" style="height:40px;padding:0;padding:0 10px;border-color:#959595;color:#959595">

                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-2 mt-2 mt-lg-0 mt-md-0"></div>
        <div class="col-sm p-0">
            <div class="row m-0">
                <label class="col-4 col-lg-4 col-md-4 mt-2 px-0 pt-1"><%= __('Choose the language ') %></label>
                <select class="col-lg-7 col-md-8 col-8 btn dropdown-toggle h6 w-90 rounded" id="languages" style="height:40px;padding:0;padding:0 10px;border-color:#959595;color:#959595">
                    <% LANGUAGES.forEach(function(lang) { %>
                        <option value="<%= lang.value %>">
                            <%= lang.text %>
                        </option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
    <div class="row mx-0 badge-mt-36">
        <p class="col-12 p-0 text-justify font-weight-light-l p-0">
            <%- __('Become a Bhasha Samarthak by contributing to Bolo India, Suno India, Likho India or Dekho India. Earn Bronze/Silver/Gold/Platinum Bhasha Samarthak Badges based on your contributions. Share them in your social circle, your language community, and motivate your friends and family to contribute to the cause.') %></p>
    </div>
    <div class="row mx-0 badge-mt-38">
        <h4 class="col-12 p-0"><%= __('Participation Levels') %></h4>
    </div>
    <div class="row mx-0 mt-2">
        <p class="col-12 p-0"><%= __('Become a Bhasha Samarthak by contributing to these initiatives. For details on how to earn Bhasha Samarthak Badges, please select the initiative and language of your choice.') %></p>
    </div>
    <div class="row mx-0 mt-4">
        <ul class="nav nav-tabs w-100 border-0" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="contribute-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <%= __('Contributions')%></a>
            </li>
            <li class="nav-item pl-4">
              <a class="nav-link" id="validate-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> <%= __('Validations')%></a>
            </li>
          </ul>
          <div class="tab-content w-100 mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="contribute-tab">
                <table id="badge-table" class="table table-bordered table-striped table-responsive-xs w-100">
                    <thead>
                    <tr>
                        <th scope="col" class="pl-lg-5 pl-md-4 pl-3"><%= __('Levels') %></th><th scope="col" style="padding-left:1.65rem">
                            <%= __('Contributions') %>
                        </th>
                        <th scope="col" class="text-center"><%= __('Badge') %></th>
                    
                    
                    </tr></thead><tbody id="contribute-rows"></tbody>
                
            </table></div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="validate-tab">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table id="badge-table" class="table table-bordered table-striped table-responsive-xs w-100">
                        <thead>
                        <tr>
                            <th scope="col" class="pl-lg-5 pl-md-4 pl-3"><%= __('Levels') %></th>
                            <th scope="col" style="padding-left:1.65rem">
                                <%= __('Validations') %>
                            </th>
                            <th scope="col" class="text-center"><%= __('Badge') %></th>
                        </tr>
                        </thead>
                        <tbody id="validate-rows"></tbody>
                    </table>
                </div>
            </div>
          </div>
    </div>
    <div class="row mx-0 my-5">
        <ul>
            <li>
                Please keep contributing actively to stand a chance to get recognised.
            </li>
            <li>
                Your contribution will be validated before confirming the badge.
            </li>
            <li>
                Levels and badges may take upto 48 hours to update.
            </li>
        </ul>
    </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<%- include('common/feedback/feedback.ejs', {page:"Badges Info"}) %>
<%- include('common/footer.ejs',{path:"./"}) %>

<%- include('../../build/views/common/speakerDetails.ejs',{path:"./"}) %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>
<script src="../js/badges.js"></script>
<script src="../js/loadFeedback.js"></script>
</body>
</html>