<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="<%= __('Bolo India: A crowdsourcing initiative for Indian languages') %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= __('I\'ve contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?') %>">
    <meta property="og:site_name" content="Bolo India ">
    <meta property="og:url" content="https://boloindia.nplt.in">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common.css">
</head>

<body>
<%- include('common/header.ejs',{home:"./home.html", bolo:"./boloIndia/home.html", suno:"./sunoIndia/home.html",likho:"./likhoIndia/home.html",dekho:"./dekhoIndia/home.html",path:"./"}); %>
<div class="container-fluid supreme-container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mt-5 pl-lg-0 px-5 ml-lg-auto order-lg-0 order-md-0 order-sm-1 order-1">
            <h4 class="display-5 font-weight-bolder lh-4"><%= __('[Platform Name] ')%></h4>
            <h4 class="display-5 font-weight-bolder lh-4"><%= __('A Crowdsourcing initiative for Indian Languages')%></h4>
            <br>
            <p class="h6 lh-7 font-weight-normal text-justify"><%= __('[Bhaashini] wants to create collection of data in 22 Indian languages in the form of text and audio. This initiative will help in empowering technologists, language enthusiasts and language communities with a growing demand for  digital services in local Indian languages. The repository will be made available for developing software and applications in Indian languages, thus making them available to every Indian citizen.')%></p>
            <p class="h6 font-weight-normal lh-7 text-justify"><%= __('Through Bhaashini, we are reaching out to you to contribute  for your voice contribution to create a diverse open source repository of Indian voices to this end.')%></p>
            <br>
            <br>
            <p class="h6 font-weight-normal lh-7 text-justify"><%= __('Help India build this open source platform and become atma-nirbhar in the digital space.')%></p>
            <br>
            <button class="btn" style="left:calc(50% - 240px/2 - 471px);top:calc(50% - 48px/2 - 473px);width:240px;height:48px;background:#007bff;border-radius:24px"><a class="text-decoration-none text-light" href="./about-us.html"><%= __("Know More")%></a></button>
        </div>
        <div class="col-lg-4 col-md-4 col-12 align-self-center text-right p-0" id="home-banner">
            <img src="../img/home3.svg" alt="home image" height="595px" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5 mt-lg-0">
        <div class="col-12 justify-content-center text-center px-5" style="border:2px solid #f0f0f7;background:#dfecfb">
            <h1 class="mt-5 display-5 font-weight-bolder lh-4"><%= __('One Platform, 4 Crowdsourcing Initiatives')%></h1>
            <p class="mt-4"><%= __('Help create open repository of Speech Recognition data, Parallel translations and Labeled Images.')%></p>
            <%- include ../../build/views/common/carousel.ejs %>
            <div class="mt-3" style="background:#fff;max-width:1200px;margin:auto;border-radius:32px;border:2px solid #f0f0f7">language goal</div>

        </div>
    </div>

    <div class="mb-5" style="max-width:1200px;margin:auto">
    <div class="row my-5 px-5">
        <div class="my-4 my-lg-5 col-sm home-badge-link p-0" style="font-style:normal;font-size:28px">
            <div class="font-weight-normal home-badge-link-row" style="color:#666"> <%= __('Engaging with this platform will win you badges and pride for building the data in local Languages') %></div>
            <div class="text-primary font-weight-bold home-badge-link-row mt-lg-4"> <a href="./badges.html"><%= __('Know More') %></a></div>
        </div>
        <div class="my-4 my-lg-5 col-sm home-badge-row">
            <img src="../img/bronze_medal.svg" alt="home image" height="164px" width="135px">
            <img src="../img/silver_medal.svg" alt="home image" height="164px" width="135px">
            <img src="../img/gold_medal.svg" alt="home image" height="164px" width="135px">
            <img src="../img/platinum_medal.svg" alt="home image" height="164px" width="135px">
        </div>
        </div>
        <div class="row p-0" style="box-shadow:0 4px 12px 1px rgba(0,0,0,.08);border-radius:12px;background:#f9fbfe">
            <div class="col-12 d-flex flex-lg-row" style="background-image:url(../../img/NEW-WAVE3.png);box-shadow:0 4px 12px 1px rgba(0,0,0,.08);border-radius:12px;background-repeat:no-repeat;background-position:right">
                    <div class="col-lg-2 col-12">
                        <img src="../img/bronze_medal.svg" alt="home image" height="164px" width="135px" class="img-fluid mx-2">
                    </div>
                    <div class="col-10 text-left">
                        <h1 class="pt-lg-4 pt-3">Win a Bronze badge</h1>
                        <h4 class="font-weight-normal" style="color:#666">Contribute just 5 sentences in your languages</h4>
                        <div class="py-4">
                            <button class="btn btn-custom-outline-primary rounded-pill" style="max-width:148px;min-width:144px"><a class="text-decoration-none" href="./sunoIndia/home.html"><%= __('SUNO India')%></a></button>
                            <button class="btn btn-custom-outline-primary rounded-pill" style="max-width:148px;min-width:144px"><a class="text-decoration-none" href="./boloIndia/home.html"><%= __('BOLO India')%></a></button>
                            <button class="btn btn-custom-outline-primary rounded-pill" style="max-width:148px;min-width:144px"><a class="text-decoration-none" href="./likhoIndia/home.html"><%= __('LIKHO India')%></a></button>
                            <button class="btn btn-custom-outline-primary rounded-pill" style="max-width:148px;min-width:144px"><a class="text-decoration-none" href="./dekhoIndia/home.html"><%= __('DEKHO India')%></a></button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<button data-toggle="modal" data-target="#content-language" class="d-none" id="toggle-content-language"></button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('common/feedback/feedback.ejs', {page:"Home Page"}) %>
<%- include('common/footer.ejs',{path:"./"}) %>
<%- include ../../build/views/common/content-languages.ejs %>
<script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../js/landingPage.js" id="home-page" default-lang=""></script>

<script src="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.js"></script>
<script src="../js/loadFeedback.js"></script>
<script src="../js/carousel.js"></script>
</body>

</html>