<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="<%= __('Bolo India: A crowdsourcing initiative for Indian languages') %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= __('I\'ve contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?') %>">
    <meta property="og:site_name" content="Bolo India ">
    <meta property="og:url" content="https://boloindia.nplt.in">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common.css">
</head>

<body>
<%- include('common/header.ejs',{home:"./home.html", bolo:"./boloIndia/home.html", suno:"./sunoIndia/home.html",likho:"./likhoIndia/home.html",dekho:"./dekhoIndia/home.html",path:"./"}); %>
<div class="container-fluid supreme-container">
    <div class="row pb-lg-5 pb-md-5">
        <div class="col-lg-6 col-md-8 col-12 mt-5 pl-lg-0 px-5 ml-lg-auto order-lg-0 order-md-0 order-sm-1 order-1">
            <h4 class="display-5 font-weight-bolder lh-4"><%= __('[Platform Name] ') %></h4>
            <h4 class="display-5 font-weight-bolder lh-4"><%= __('A Crowdsourcing initiative for Indian Languages') %></h4>
            <p class="h6 lh-7 font-weight-normal text-justify mt-lg-4 mt-md-4 pt-lg-3 pt-md-3"><%= __('[Bhaashini] aims to create open collections of data for initiatives, such as, Speech Recognition, Translations and OCR, in popular Indian languages. These initiatives will help in empowering our technologists, language enthusiasts and language communities in building world class digital applications in our own local languages.') %></p>
            <p class="h6 font-weight-normal lh-7 text-justify mb-lg-0 mb-md-0"><%= __('Help India build their own open data repository and become atma-nirbhar in the digital space.') %></p>
            <button class="btn mt-lg-4 mt-md-4 btn-custom-primary rounded-pill" style="height:48px">
                <a class="text-decoration-none text-light font-weight-normal" href="./about-us.html" style="font-size:18px"><%= __("Know More") %></a></button>
        </div>
        <div class="col-lg-4 col-md-4 col-12 align-self-center text-right p-0 mt-lg-5 mt-md-5" id="home-banner">
            <img src="../img/waveAndLang.png" alt="home image" height="595px" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5 mt-lg-0 pb-lg-4 pb-md-4" style="border:2px solid #f0f0f7;background:rgba(223,236,251,.2)">
        <div class="col-12 justify-content-center text-center px-5">
            <h1 class="mt-5 display-5 font-weight-bolder lh-4"><%= __('One Platform, 4 Crowdsourcing Initiatives') %></h1>
            <p class="mt-4 font-weight-normal" style="font-size:24px;font-style:normal;color:#666"><%= __('Help create open repository of Speech Recognition data, Parallel translations and Labeled Images.') %></p>
            <%- include ../../build/views/common/carousel.ejs %>
            <div class="mt-lg-4 mt-md-4 mb-lg-3 mb-md-3" style="padding:11px;background:#fff;max-width:1200px;margin:auto;border-radius:32px;border:1px solid rgba(0,123,255,.2);box-shadow:inset 0 0 12px rgba(0,123,255,.2)">
                <p class="m-0" style="color:#666;font-size:20px;line-height:32px"><%= __('Monthly Goal* :  ') %><span id="language-count"></span><%= __(' languages') %> &nbsp; &nbsp; <span id="language-goal-each"></span> <%= __('each') %></p>
            </div>
        </div>
    </div>

    <div class="mb-5" id="badge-section">
        <div class="row my-2 mx-lg-0 mx-md-0">
            <div class="my-4 my-lg-5 col-sm home-badge-link p-0">
                <div class="font-weight-normal home-badge-link-row"> <%= __('Engaging with this platform will win you badges and pride for building the data in local Languages') %></div>
                <div class="text-primary font-weight-bold home-badge-link-row mt-lg-4 pt-lg-2 mt-md-4 pt-lg-2"><a href="./badges.html"><%= __('Know More') %></a></div>
            </div>
            <div class="my-4 my-lg-5 col-sm home-badge-row">
                <img src="../img/bronze_medal.svg" alt="bronze_medal" height="164px" width="135px">
                <img src="../img/silver_medal.svg" alt="silver_medal" height="164px" width="135px">
                <img src="../img/gold_medal.svg" alt="gold_medal" height="164px" width="135px">
                <img src="../img/platinum_medal.svg" alt="platinum_medal" height="164px" width="135px">
            </div>
        </div>
        <div class="row p-0 mx-0" id="badge-section-card-cover">
            <div class="col-12 row mx-0" id="badge-section-card">
                <div class="col-lg-2 col-12 text-lg-left text-md-left text-center">
                    <img src="../img/bronze_medal.svg" alt="home image" height="164px" width="135px" class="img-fluid mx-2">
                </div>
                <div class="col-lg-10 col-md-10 col-12 text-lg-left text-md-left text-center">
                    <h2 class="pt-lg-4 pt-3"><%= __('Win a Bronze badge')%></h2>
                    <h4 class="font-weight-normal mb-lg-2 mb-mt-1" style="color:#666"><%= __('Contribute just 5 sentences in your languages')%></h4>
                    <div class="pb-4 pt-3">
                        <button class="btn btn-custom-outline-primary rounded-pill ml-lg-0 mr-lg-3 mx-1"><a class="text-decoration-none" href="./sunoIndia/home.html"><%= __('SUNO INDIA') %></a>
                        </button>
                        <button class="btn btn-custom-outline-primary rounded-pill ml-lg-4 mr-lg-3 mx-1"><a class="text-decoration-none" href="./boloIndia/home.html"><%= __('BOLO INDIA') %></a>
                        </button>
                        <button class="btn btn-custom-outline-primary rounded-pill ml-lg-4 mr-lg-3 mx-1"><a class="text-decoration-none" href="./likhoIndia/home.html"><%= __('LIKHO INDIA') %></a>
                        </button>
                        <button class="btn btn-custom-outline-primary rounded-pill ml-lg-4 mr-lg-3 mx-1"><a class="text-decoration-none" href="./dekhoIndia/home.html"><%= __('DEKHO INDIA') %></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button data-toggle="modal" data-target="#content-language" class="d-none" id="toggle-content-language"></button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('common/feedback/feedback.ejs', {page:"Home Page"}) %>
<%- include('common/footer.ejs',{path:"./"}) %>
<%- include ../../build/views/common/content-languages.ejs %>
<script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../js/landingPage.js" id="home-page" default-lang=""></script>

<script src="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.js"></script>
<script src="../js/loadFeedback.js"></script>
<script src="../js/carousel.js"></script>
</body>

</html>