<p>
    <%= __('Your selected language') %>
</p>
<p>
    <%= __('Top languages') %>
</p>
<p>
    <%= __('Assamese') %>
</p>
<p>
    <%= __('English') %>
</p>
<p>
    <%= __('Telugu') %>
</p>
<p>
    <%= __('Hindi') %>
</p>
<p>
    <%= __('Marathi') %>
</p>
<p>
    <%= __('Tamil') %>
</p>
<p>
    <%= __('Kannada') %>
</p>
<p>
    <%= __('Malayalam') %>
</p>
<p>
    <%= __('Bengali') %>
</p>
<p>
    <%= __('Odia') %>
</p>
<p>
    <%= __('Punjabi') %>
</p>
<p>
    <%= __('Gujarati') %>
</p>
<p>
    <%= __('Start typing here...') %>
</p>
<p>
    <%= __('Thank you for contributing!') %>
</p>
<p>
    <%= __('Konkani Roman') %>
</p>
<p>
    <%= __('Konkani DV') %>
</p>
<p>
    <%= __('Manipuri BN') %>
</p>
<p>
    <%= __('Manipuri MM') %>
</p>
<p>
    <%= __('Santali OL') %>
</p>
<p>
    <%= __('Santali DV') %>
</p>
<p>
    <%= __('BODO') %>
</p>
<p>
    <%= __('DOGRI') %>
</p>
<p>
    <%= __('KASHMIRI') %>
</p>
<p>
    <%= __('MAITHILI') %>
</p>
<p>
    <%= __('NEPALI') %>
</p>
<p>
    <%= __('SANSKRIT') %>
</p>
<p>
    <%= __('SINDHI') %>
</p>
<p>
    <%= __('URDU') %>
</p>
<p data-name="home.ejs">
    <%= __('hrs recorded in') %>
</p>
<p data-name="home.ejs">
    <%= __('hrs validated in') %>
</p>
<p>
    <%= __('hours') %>
</p>
<p>
    <%= __('minutes') %>
</p>
<p>
    <%= __('seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 5 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 4 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 3 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 2 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 1 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Playingback Audio') %>
</p>
<p data-name="record.ejs">
    <%= __('Playing') %>
</p>
<p>
    <%= __('Test Mic') %>
</p>
<p>
    <%= __('Test Speakers') %>
</p>
<p data-name="record.ejs">
    <%= __('Congratulations!!! You have completed this batch of sentences') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('social sharing text with rank') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('social sharing text without rank') %>
</p>
<p data-name="badges.ejs">
    <%= __('Level') %>
</p>
<p data-name="badges.ejs">
    <%= __('Sentences') %>
</p>
<p>
    <%= __('bronze') %>
</p>
<p>
    <%= __('silver') %>
</p>
<p>
    <%= __('gold') %>
</p>
<p>
    <%= __('platinum') %>
</p>
<p>
    <%= __('Bolo India') %>
</p>
<p>
    <%= __('Suno India') %>
</p>
<p>
    <%= __('Dekho India') %>
</p>
<p>
    <%= __('Likho India') %>
</p>
<p data-name="badges.ejs">
    <%= __('Recording') %>
</p>
<p data-name="badges.ejs">
    <%= __('Labelling') %>
</p>
<p data-name="badges.ejs">
    <%= __('Transcribing') %>
</p>
<p data-name="badges.ejs">
    <%= __('Translating') %>
</p>
<p data-name="badges.ejs">
    <%= __('Images') %>
</p>
<p data-name="badges.ejs">
    <%= __('Validating') %>
</p>
<p>
    <%= __('All Languages') %>
</p>
<p>
    <%= __('BhashaDaan: A crowdsourcing initiative for Indian languages') %>
</p>