<p>
    <%= __('Your selected language') %>
</p>
<p>
    <%= __('Top languages') %>
</p>
<p data-name="home.ejs">
    <%= __('Assamese') %>
</p>
<p data-name="home.ejs">
    <%= __('English') %>
</p>
<p data-name="home.ejs">
    <%= __('Telugu') %>
</p>
<p data-name="home.ejs">
    <%= __('Hindi') %>
</p>
<p data-name="home.ejs">
    <%= __('Marathi') %>
</p>
<p data-name="home.ejs">
    <%= __('Tamil') %>
</p>
<p data-name="home.ejs">
    <%= __('Kannada') %>
</p>
<p data-name="home.ejs">
    <%= __('Malayalam') %>
</p>
<p data-name="home.ejs">
    <%= __('Bengali') %>
</p>
<p data-name="home.ejs">
    <%= __('Odia') %>
</p>
<p data-name="home.ejs">
    <%= __('Punjabi') %>
</p>
<p data-name="home.ejs">
    <%= __('Gujarati') %>
</p>
<p>
    <%= __('Start typing here...') %>
</p>
<p>
    <%= __('Thank you for contributing!') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution so far in <y> - <x>') %>
</p>
<p data-name="home.ejs">
    <%= __('Validation so far in <y> - <x>') %>
</p>
<p>
    <%= __('hours') %>
</p>
<p>
    <%= __('minutes') %>
</p>
<p>
    <%= __('seconds') %>
</p>
<p data-name="home.ejs">
    <%= __('hour(s)') %>
</p>
<p data-name="home.ejs">
    <%= __('minute(s)') %>
</p>
<p data-name="home.ejs">
    <%= __('second(s)') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 5 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 4 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 3 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 2 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Recording for 1 seconds') %>
</p>
<p data-name="record.ejs">
    <%= __('Playingback Audio') %>
</p>
<p data-name="record.ejs">
    <%= __('Playing') %>
</p>
<p>
    <%= __('Test Mic') %>
</p>
<p>
    <%= __('Test Speakers') %>
</p>
<p data-name="record.ejs">
    <%= __('Congratulations!!! You have completed this batch of sentences') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('social sharing text with rank') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('social sharing text without rank') %>
</p>
<p data-name="badges.ejs">
    <%= __('Level') %>
</p>
<p data-name="badges.ejs">
    <%= __('Sentences') %>
</p>
<p>
    <%= __('bronze') %>
</p>
<p>
    <%= __('silver') %>
</p>
<p>
    <%= __('gold') %>
</p>
<p>
    <%= __('platinum') %>
</p>
<p>
    <%= __('Bolo India') %>
</p>
<p>
    <%= __('Suno India') %>
</p>
<p>
    <%= __('Dekho India') %>
</p>
<p>
    <%= __('Likho India') %>
</p>
<p data-name="badges.ejs">
    <%= __('Recording') %>
</p>
<p data-name="badges.ejs">
    <%= __('Labelling') %>
</p>
<p data-name="badges.ejs">
    <%= __('Transcribing') %>
</p>
<p data-name="badges.ejs">
    <%= __('Translating') %>
</p>
<p data-name="badges.ejs">
    <%= __('Images') %>
</p>
<p data-name="badges.ejs">
    <%= __('Validating') %>
</p>
<p>
    <%= __('All Languages') %>
</p>
<p>
    <%= __('Bhasha Daan: A crowdsourcing initiative for Indian languages') %>
</p>
<p>
    <%= __('upto 10 years') %>
</p>
<p>
    <%= __('10 - 30 years') %>
</p>
<p>
    <%= __('30 - 60 years') %>
</p>
<p>
    <%= __('60+ years') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('Transcription (in sentences)') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('Recordings (in hours)') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('Translation (in sentences)') %>
</p>
<p data-name="thank-you.ejs">
    <%= __('Labelled (in images)') %>
</p>
<p data-name="validator-thank-you.ejs">
    <%= __('Validation (in sentences)') %>
</p>
<p data-name="validator-thank-you.ejs">
    <%= __('Validation (in image labels)') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution (in hours)') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution (total images)') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution (total translations)') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution (total speakers)') %>
</p>
<p data-name="home.ejs">
    <%= __('Translations') %>
</p>
<p data-name="home.ejs">
    <%= __('Speakers') %>
</p>
<p data-name="home.ejs">
    <%= __('Contribution (total sentences)') %>
</p>
<p data-name="badges.ejs">
    <%= __('Contribute') %>
</p>
<p data-name="badges.ejs">
    <%= __('Validate') %>
</p>
<p data-name="badges.ejs">
    <%= __('Sentences') %>
</p>
<p data-name="badges.ejs">
    <%= __('recordings') %>
</p>
<p data-name="badges.ejs">
    <%= __('Translations') %>
</p>
<p data-name="badges.ejs">
    <%= __('image labels') %>
</p>
