<p>
    <%= __('Suggestion') %>
</p>
<p>
    <%= __('Complaint') %>
</p>
<p>
    <%= __('Compliment') %>
</p>
<p>
    <%= __('Error') %>
</p>
<p><%= __('Your selected language') %></p>
<p><%= __('Top languages') %></p>
<p><%= __('Telugu') %></p>
<p><%= __('Hindi') %></p>
<p><%= __('Marathi') %></p>
<p><%= __('Tamil') %></p>
<p><%= __('Kannada') %></p>
<p><%= __('Malayalam') %></p>
<p><%= __('Bengali') %></p>
<p><%= __('Odia') %></p>
<p><%= __('Assamese') %></p>
<p><%= __('Punjabi') %></p>
<p><%= __('Gujarati') %></p>
<p><%= __('Start typing here...') %></p>
<p><%= __('Thank you for contributing!') %></p>