<p>
    <%= __('Suggestion') %>
</p>
<p>
    <%= __('Complaint') %>
</p>
<p>
    <%= __('Compliment') %>
</p>
<p>
    <%= __('Error') %>
</p>
<p><%= __('Your selected language') %></p>
<p><%= __('Top languages') %></p>
<p><%= __('Telugu') %></p>
<p><%= __('Hindi') %></p>
<p><%= __('Marathi') %></p>
<p><%= __('Tamil') %></p>
<p><%= __('Kannada') %></p>
<p><%= __('Malayalam') %></p>
<p><%= __('Bengali') %></p>
<p><%= __('Odia') %></p>
<p><%= __('Assamese') %></p>
<p><%= __('Punjabi') %></p>
<p><%= __('Gujarati') %></p>
<p><%= __('Start typing here...') %></p>
<p><%= __('Thank you for contributing!') %></p>
<p><%= __('Konkani Roman') %></p>
<p><%= __('Konkani DV') %></p>
<p><%= __('Manipuri BN') %></p>
<p><%= __('Manipuri MM') %></p>
<p><%= __('Santali OL') %></p>
<p><%= __('Santali DV') %></p>
<p><%= __('BODO') %></p>
<p><%= __('DOGRI') %></p>
<p><%= __('KASHMIRI') %></p>
<p><%= __('MAITHILI') %></p>
<p><%= __('NEPALI') %></p>
<p><%= __('SANSKRIT') %></p>
<p><%= __('SINDHI') %></p>
<p><%= __('URDU') %></p>
