<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bhasha Daan: A crowdsourcing initiative for Indian languages</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7K4K1N3R30"></script>
  <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-7K4K1N3R30")</script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/badges.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body>
  <%- include('common/header/header.ejs',{home:"./home.html", bolo:"./boloIndia/home.html",
    suno:"./sunoIndia/home.html",likho:"./likhoIndia/home.html",dekho:"./dekhoIndia/home.html",path:"./"}); %>
    <div id="content-wrapper" class="container-fluid padding-top-65 pb-2 p-0 bg-light">
      <div class="bg-badge px-lg-3 px-md-3 px-4 pt-5">
      <div class="row">
        <%- include('../../build/views/common/back-btn.ejs',{url:"/"}) %>
      </div>
      <div id="badge-container" class="container-fluid p-0 my-badge-container">
        <div class="row m-0 position-relative">
          <div class="header"></div>
          <div class="col-12 p-0 text-center position-absolute">
            <h1 class="light active mt-lg-3 mt-md-3 mt-4"><span>
                <%= __('Congratulations')%>
              </span><span id="badge_username" class="d-none"></span></h1>
            <h2 class="mt-3 mt-lg-2 mt-md-2">
              <%= __('Your Medal Gallery')%>
            </h2>
          </div>
        </div>
        <div class="row mx-lg-0 mx-md-0 badge-mt-34">
          <div class="col-12 p-0">
            <div class="row m-0">
              <ul class="nav nav-tabs w-100 bg-white" id="my-badge" role="tablist">
                <li class="nav-item col-lg-3 col-md-3 p-0 text-center">
                  <a class="nav-link border-0 ml-4 ml-lg-0 ml-md-0 active light-bg font-family-Rowdies" id="suno-tab" data-toggle="tab" href="#suno" role="tab" aria-controls="suno" aria-selected="true">
                      <%= __('Suno India')%>
                  </a>
                </li>
                <li class="nav-item col-lg-3 col-md-3 p-0 text-center">
                  <a class="nav-link border-0 light-bg font-family-Rowdies" id="bolo-tab" data-toggle="tab" href="#bolo" role="tab" aria-controls="bolo" aria-selected="true">
                      <%= __('Bolo India')%>
                  </a>
                </li>
                <li class="nav-item col-lg-3 col-md-3 p-0 text-center">
                  <a class="nav-link border-0 light-bg font-family-Rowdies" id="likho-tab" data-toggle="tab" href="#likho" role="tab" aria-controls="likho" aria-selected="true">
                      <%= __('Likho India')%>
                  </a>
                </li>
                <li class="nav-item col-lg-3 col-md-3 p-0 text-center">
                  <a class="nav-link border-0 light-bg font-family-Rowdies" id="dekho-tab" data-toggle="tab" href="#dekho" role="tab" aria-controls="dekho" aria-selected="true">
                      <%= __('Dekho India')%>
                  </a>
                </li>
              </ul>
              <div class="tab-content w-100" id="badge-profile-content">
                <div class="text-center badge-popover" id="badge-popover">
                  <div class="">
                    <img src="/img/suno_bronze_medal.svg" alt="" class="badge-img-fluid">
                  </div>
                </div>
                <div class="tab-pane fade active show" id="suno" role="tabpanel" aria-labelledby="suno-tab">
                  <div class="row mx-0 my-4 my-badges-heading" id="suno-type">
                    <div class="col-2"></div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Contribution')%>
                      </h6>
                    </div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Validation')%>
                      </h6>
                    </div>
                  </div>
                  <div class="row m-0 pl-3 pl-lg-0 badge-section" id="suno-badge">

                  </div>
                </div>
                <div class="tab-pane fade" id="bolo" role="tabpanel" aria-labelledby="bolo-tab">
                  <div class="row mx-0 my-4 my-badges-heading" id="bolo-type">
                    <div class="col-2"></div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Contribution')%>
                      </h6>
                    </div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Validation')%>
                      </h6>
                    </div>
                  </div>
                  <div class="row m-0 pl-3 pl-lg-0 badge-section" id="bolo-badge">

                  </div>
                </div>
                <div class="tab-pane fade" id="likho" role="tabpanel" aria-labelledby="likho-tab">
                  <div class="row mx-0 my-4 my-badges-heading" id="likho-type">
                    <div class="col-2"></div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Contribution')%>
                      </h6>
                    </div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Validation')%>
                      </h6>
                    </div>
                  </div>
                  <div class="row m-0 pl-3 pl-lg-0 badge-section" id="likho-badge">

                  </div>
                </div>
                <div class="tab-pane fade" id="dekho" role="tabpanel" aria-labelledby="dekho-tab">
                  <div class="row mx-0 my-4 my-badges-heading" id="dekho-type">
                    <div class="col-2"></div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Contribution')%>
                      </h6>
                    </div>
                    <div class="col-5">
                      <h6 class="font-weight-normal font-family-Rowdies">
                        <%= __('Validation')%>
                      </h6>
                    </div>
                  </div>
                  <div class="row m-0 pl-3 pl-lg-0 badge-section" id="dekho-badge">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div class="row mx-0 my-5">
          <ul style="padding-inline-start:10px;list-style-type:none">
            <li>
              <%= __('Please keep contributing actively to stand a chance to get recognised.')%>
            </li>
            <li>
              <%= __('Your contribution will be validated before confirming the badge.')%>
            </li>
            <li>
              <%= __('Levels and badges may take upto 48 hours to update.')%>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <%- include('common/feedback/feedback.ejs', {page:"My Badges"}) %>
      <%- include('common/footer.ejs',{path:"./"}) %>

        <%- include('../../build/views/common/speakerDetails.ejs',{path:"./"}) %>

          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>
          <script src="../js/my-badges.js"></script>
          <script src="../js/loadFeedback.js"></script>
</body>

</html>