<!doctype html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>

<body>
<%- include('common/headerForContributor.ejs',{path:"./",MODULE:"", PAGE_TITLE:""}); %>
        <div class="container my-5 p-5">
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
                    <div class="jumbotron">
                        <h1 class="display-1">
                            <%= __('Oops') %>
                        </h1>
                        <p class="lead">
                            <%= __('Page Not Found') %>
                        </p>
                        <hr class="my-4">
                        <p>
                            <%= __('Looks like you have taken a wrong turn here') %>
                        </p>
                        <p class="lead">
                            <%- __('<a class="" href="/">Click Here</a> to go back to home page') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <%- include('common/footer.ejs',{path:"./"}) %>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>