<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.css" integrity="sha256-1T9PQaTbbUusCVH72ahoGVZ1axGmU5uAOgSb4/GNXj8=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/instructions-modal.css">
    <link rel="stylesheet" type="text/css" href="../css/validator-prompt.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/mic-speaker-testing.css">
    <style>.btn.focus,.btn:focus{outline:0;box-shadow:0 0}</style>
</head>

<body>
<%- include('common/headerForContributor.ejs',{path:"./", MODULE:"Bolo India", PAGE_TITLE:"Validate"}); %>
<div id="validator-page-content">
    <div class="container-fluid">
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="d-flex justify-content-end pt-3 record-btn-container position-relative">
                <div class="row position-absolute bolo-back-btn top-back-btn">
                    <button class="btn btn-link p-0 back-btn" id="back-btn">
                        <a href="./boloIndia/home.html" class="nav-link" style="color:#959595;font-size:20px">
                            <span class="material-icons" style="vertical-align:sub">
                    arrow_back
                    </span>
                            <span class="back-text"><%= __('Back') %></span>

                        </a>
                    </button>
                </div>
                <%- include components/report-btn.ejs %>
                <%- include ../../build/views/common/speakerTestBtn.ejs %>
            </div>
            <div class="row justify-content-around mx-3 mx-lg-0 mx-xl-5 mb-2 align-items-center">
                <%- include ../../build/views/common/speakerTesting.ejs %>
            </div>
            <div class="row justify-content-center" id="instructions-row">
                <div id="instructions-link" class="d-flex justify-content-end align-items-center d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#007BFF" style="cursor:pointer" class="bi bi-info-circle-fill d-none" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                    <span class="btn d-none" style="cursor:pointer">
                                <%= __('Instructions') %>
                            </span></div>
            </div>
            <div class="row justify-content-center mb-5 mb-lg-0" id="sentences-row">
                <div class="col-md-8 col-sm-10 text-center prompt"><label class="h1 font-weight-normal" id="sentenceLabel"></label></div>
            </div>
            <div class="validation-container" id="validation-container">
                <div class="row justify-content-center mx-2 d-none" id="loader-audio-row">
                    <div><span class="spinner w-h-5"></span></div>
                </div>
                <div class="row justify-content-center mx-2" id="audio-row">
                    <div class="col-lg-6 col-md-6 col-sm-12 justify-content-center">
                        <audio id="my-audio" controls tabindex="-1" src="" type="audio/wav" class="d-none" crossorigin="anonymous"></audio>
                        <canvas id="myCanvas" class="w-100" height="80px"></canvas>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-5 mb-lg-0 mt-lg-5 d-none" id="no-sentences-row">
                <div class="col-md-8 col-sm-10 text-center"><label class="h1 font-weight-bold">
                        <%= __('Thank you for your enthusiasm to validate the recordings.') %>
                    </label><br><br>
                    <p>
                        <%- __('We do not have any data in <span id="spn-validation-language"></span> language. Please try again later.') %>
                    </p>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-3 col-md-6 col-8 text-center lead" id="start_contributing_id">
                            <a class="btn btn-primary text-white btn-lg h6 w-100" href="./home.html">
                                <%- __('Back to Bolo India Home') %>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-auto my-3 d-none" id="thank-you-row">
                <div class="col-md-8 col-sm-10 text-center align-items-center"><label class="h1 font-weight-bold my-5">
                        <%= __('Thank you for validating!') %>
                    </label>
                    <p>
                        <%- __('You have helped us validate <span id="spn-validation-count" class="font-wt-900"></span> recordings') %>
                    </p>
                    <div class="row justify-content-center mb-3 mx-2">
                        <div class="col-lg-4 col-md-4 col-sm-10 oflow-x-hid"></div>
                        <a class="btn btn-primary h6 shadow rounded mt-4 p-3 my-lg-5 col-lg-4 col-md-4 col-sm-10" href="./validator-page.html">
                            <%= __('Validate More') %>
                        </a>
                        <div class="col-lg-4 col-md-4 col-sm-10 oflow-x-hid"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-lg-7 mb-md-7 mb-sm-1 mx-5" id="validation-button-row">
                <div class="col-lg-8 col-md-8 flex-lg-row flex-md-row d-flex d-flex flex-row flex-wrap flex-lg-nowrap flex-md-nowrap justify-content-around mt-2">
                    <button class="w-100 btn align-self-start mb-2" disabled="disabled" id="dislike_button">
                        <svg width="201" height="66" viewBox="0 0 201 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="199" height="64" rx="32" fill="white" stroke="#007BFF" stroke-width="2"/>
                            <path d="M40.7539 25.0279L40.7539 25.0279L40.7497 25.0238C40.569 24.8472 40.3538 24.7097 40.1175 24.62C39.8813 24.5302 39.6291 24.4901 39.3767 24.5021L39.3766 24.502L39.3681 24.5026C38.8833 24.5339 38.4266 24.7406 38.0831 25.0841C37.7396 25.4276 37.5328 25.8843 37.5015 26.369L37.5008 26.379L37.5006 26.3889C37.4945 26.6334 37.5377 26.8766 37.6278 27.104C37.7178 27.3314 37.8527 27.5383 38.0245 27.7124L38.0245 27.7124L38.0269 27.7148L44.3131 34.0004L38.0492 40.2637C37.8737 40.4349 37.7347 40.6398 37.6403 40.8661C37.5455 41.0936 37.4979 41.338 37.5004 41.5845L37.5005 41.595L37.5011 41.6054C37.5268 42.0992 37.7345 42.566 38.0842 42.9156C38.4338 43.2652 38.9006 43.4729 39.3944 43.4986L39.3944 43.4987L39.4038 43.499C39.6583 43.5074 39.9116 43.4629 40.148 43.3684C40.3836 43.2742 40.5971 43.1322 40.7752 42.9515C40.7758 42.951 40.7764 42.9504 40.7769 42.9498L47.0007 36.7267L53.2434 42.9498C53.244 42.9505 53.2447 42.9511 53.2453 42.9518C53.4234 43.1324 53.6369 43.2742 53.8723 43.3684C54.1087 43.4629 54.3621 43.5074 54.6165 43.499L54.6244 43.4987L54.6322 43.4982C55.117 43.4669 55.5738 43.2601 55.9173 42.9167C56.2608 42.5732 56.4675 42.1165 56.4989 41.6317L56.4997 41.6184L56.4999 41.605C56.5054 41.1099 56.3081 40.6314 55.9512 40.2837L49.6862 34.0004L55.9514 27.7168C56.1268 27.5457 56.2657 27.3409 56.36 27.1146C56.4548 26.8871 56.5024 26.6427 56.4999 26.3963L56.4998 26.3826L56.4989 26.369C56.4675 25.8843 56.2608 25.4276 55.9173 25.0841C55.5738 24.7406 55.117 24.5339 54.6322 24.5026L54.6244 24.502L54.6165 24.5018C54.3621 24.4934 54.1087 24.5378 53.8723 24.6324C53.6368 24.7265 53.4234 24.8684 53.2453 25.049L47.0007 31.2741L40.7539 25.0279Z" fill="#157FFB" stroke="#007BFF"/>
                            <text x="66" y="43" font-family="lato" font-size="24" fill="#007BFF" style="text-align:center">
                                <%= __('Incorrect') %>
                            </text>
                        </svg>

                    </button>
                    <div class="align-items-center justify-content-center align-items-center mb-2" id="audio-player-btn">
                        <div class="audioplayer d-flex justify-content-center align-items-center">
                            <img src="../img/play.svg" alt="play" id="play" class="cursor-pointer"> 
                            <img src="../img/pause.svg" alt="pause" id="pause" class="d-none cursor-pointer"> 
                            <img src="../img/replay.svg" alt="replay" id="replay" class="d-none justify-self-center cursor-pointer">
                            <img src="../img/play.svg" alt="resume" id="resume" class="d-none justify-self-center cursor-pointer">
                        </div>
                        <h3 class="font-wt-800 text-center mt-2" id="audioplayer-text_play">
                            <%= __('Play') %>
                        </h3>
                        <h3 class="font-wt-800 text-center d-none mt-2" id="audioplayer-text_replay">
                            <%= __('Replay') %>
                        </h3>
                        <h3 class="font-wt-800 text-center d-none mt-2" id="audioplayer-text_pause">
                            <%= __('Pause') %>
                        </h3>
                        <h3 class="font-wt-800 text-center d-none mt-2" id="audioplayer-text_resume">
                            <%= __('Resume') %>
                        </h3>
                    </div>
                    <button class="btn align-self-start mb-2 w-100" disabled="disabled" id="like_button">
                        <svg width="201" height="66" viewBox="0 0 201 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="199" height="64" rx="32" fill="white" stroke="#007BFF" stroke-width="2"/>
                            <path d="M45.4291 35.8036L45.4291 35.8036L50.3174 40.6919C50.9677 41.3422 52.0193 41.3422 52.6695 40.6919L65.036 28.3371L65.0362 28.3369C65.6865 27.6867 65.6865 26.6467 65.0362 25.9965C64.3859 25.3462 63.346 25.3462 62.6958 25.9965L51.4993 37.1929L47.7695 33.4632C47.1193 32.8129 46.0794 32.8129 45.4291 33.4632C44.7788 34.1134 44.7788 35.1533 45.4291 35.8036Z" fill="#157FFB" stroke="#157FFB"/>
                            <text x="80" y="43" font-family="lato" font-size="24" fill="#007BFF" style="text-align:center">
                                <%= __('Correct') %>
                            </text>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="row justify-content-center" id="skip_btn_row">
                <button class="btn text-primary mt-2 mb-2 fs-1_5-rem" id="skip_button">
                    <%= __('Skip') %>
                </button>
            </div>
            <div class="row justify-content-center mb-3 mt-lg-5 mt-md-5 mt-sm-1" id="progress-row">
                <div class="col-12 col-sm-8 col-lg-7">
                    <div class="progress mt-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width:.5%"></div>
                    </div>
                    <div class="mt-4 text-muted h-1r d-none" id="get-started">
                        <%= __('Let\'s get started!') %>
                    </div>
                </div>
                <div class="px-3">
                    <div class="row justify-content-center">
                        <span class="" id="currentSentenceLbl"></span>
                        <span class="">/</span><span class="" id="totalSentencesLbl"></span></div>
                </div>
            </div>

        </div>

        <%- include modals/validator-instructions.ejs %>
        <%- include modals/validation-report-modal.ejs %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/mattdiamond/Recorderjs@08e7abd99739be6946f19f6806ccb368138f2dd3/dist/recorder.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.js" integrity="sha256-22tRfnWCd6VIZ8O39ATlPY3pctqfFp9tFsyl4swl+VQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../js/validator-prompt-page.js"></script>
        <script src="../../js/common/speakerTesting.js"></script>
    </div>
</div>
</body>

</html>