<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="<%= __('Bolo India: A crowdsourcing initiative for Indian languages') %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= __('I\'ve contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?') %>">
    <meta property="og:site_name" content="Bolo India ">
    <meta property="og:url" content="https://boloindia.nplt.in">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/sunoIndia/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
</head>

<body>
<%- include('../common/header.ejs',{bolo:"../home.html", suno:"./home.html",likho:"../likhoIndia/home.html",dekho:"../dekhoIndia/home.html",path:"../"}); %>
<div class="container-fluid supreme-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-10 offset-lg-1 mt-4">
            <div class="ml-4" style="padding:20px;background:rgba(223,236,251,.3);border-left:10px solid #dfecfb">
                <h3> <%= __('Suno India') %></h3>
                <p> <%= __('Help your language by transcribing audio into text') %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <%- include ../common/languageNavBar.ejs %>
    </div>
    <div class="m-auto row justify-content-center mt-lg-5 mx-lg-5">
        <%- include('../common/cards.ejs',{left:{h1:"Transcribe",h2:"Type what you hear","p1":"",img:"../../img/listen2.svg"},right:{h1:"Correct",h2:"Correct text as per the audio","p1":"",img:"../../img/validate.svg"}}); %>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 col-lg-6 ml-lg-auto p-5 mt-4 text-dark">
            <h1 class="display-5 font-wt-900 site-blue lh-5">
                <%= __('We rely on your contributions') %>
            </h1>
            <p class="h5 font-weight-light-lg font-weight-normal-sm lh-7 site-blue text-justify mt-5">
                <%= __('The key to building speech recognition models, lies in the diversity of the data that you provide by contributing across states, dialects, accents, gender and age group. The magnitude of this diversity across the nation, gives us collective strength in empowering our languages.') %>
                <a class="ml-1" href="./about-us.html">
                    <%= __('Know More') %>
                </a>
            </p>
            <div class="row mt-5" id="speaker-data">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left" id="loader1">
                    <div><span class="spinner"></span></div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left" id="loader2">
                    <div><span class="spinner"></span></div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left" id="loader3">
                    <div><span class="spinner"></span></div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left d-none" id="languages-wrapper">
                    <p class="h4" id="languages-value"></p>
                    <p class="mb-0 fs-h4">
                        <%= __('languages contributed') %>
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left d-none" id="speakers-wrapper">
                    <p class="h4" id="speaker-value"></p>
                    <p class="mb-0 fs-h4">
                        <%= __('hrs contributed') %>
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-left d-none" id="hours-wrapper">
                    <div class="mb-0 d-flex align-items-center"><span class="h4" id="hour-value"></span></div>
                    <p class="mb-0 fs-h4">
                        <%= __('hrs validated') %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 px-0 oflow-x-hid"></div>
    </div>
    <div class="row mb-5 lazy">
        <div class="col-12 col-md-6 col-lg-6 ml-lg-auto pt-5 pt-lg-0 text-dark">
            <div class="justify-content-center align-items-center d-none" id="chartSpinner">
                <div><span class="spinner"></span></div>
            </div>
            <%- include ../common/map.ejs %>
        </div>
        <div class="col-12 col-md-6 col-lg-5 mt-xs-5 pr-lg-5">
            <div id="bar_charts_container">
                <h4 class="h4 mb-4">
                    <%= __('Top Languages') %>
                </h4>
                <div class="d-flex mb-3">
                    <div name="topLanguageChart" id="hours_chart" value="hours">
                        <%= __('Total no. of audios listened') %>
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-none" id="topLanguageSpinner">
                    <div><span class="spinner"></span></div>
                </div>
                <%- include ../common/horizontalBarGraph.ejs %>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 px-0 oflow-x-hid"></div>
    </div>
    <%- include ../common/viewAllDetailBtn.ejs %>
</div>
<%- include ../common/userDetails.ejs %>
<%- include ../common/content-languages.ejs %>
<%- include ../common/say-listen-language.ejs %>
<%- include('../common/footer.ejs',{path:"../"}) %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../../js/sunoIndia/home.js" id="home-page"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>

</body>
</html>