<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/badges.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
</head>

<body>
<%- include('../common/headerWithoutNavBar.ejs',{path:"./",MODULE:"Dekho India", PAGE_TITLE:"Badges"}); %>
<div id="content-wrapper" class="container-fluid pt-5 pb-2 px-3 px-md-5 h-100">
    <div class="row mx-lg-5">
        <div class="col-12">
            <h1><%= __('Levels and Badging') %></h1>
        </div>
    </div>
    <div class="row mx-lg-5">
        <p class="col-12 col-lg-8 text-justify font-weight-light-lg">
            <%- __('Earn badges or certificate by contributing to Bolo India. Speak a sentence in language of your choice or validate the sentence that is spoken on your desired language. Share badges in your social circle, build the hype, motivate your friends and family to contribute towards the cause. The strength of Bolo India is in the diversity of the people i.e. <b>YOU.</b>') %></p>
    </div>
    <div class="row mx-lg-5 mt-5">
        <h2 class="col-12"><%= __('Contributor Levels') %></h2>
    </div>
    <div class="row mx-lg-5">
        <p class="col-12 col-lg-8 font-weight-light-lg"><%= __('The levels defined by an overall mix of contributions and validations on Bolo India. Please see the criteria that defines different levels below:') %></p>
    </div>
    <div class="row mx-lg-5">
        <table class="table table-bordered table-striped table-responsive-xs text-center mx-3 w-100">
            <thead class="thead-dark">
            <tr>
                <th scope="col "><%= __('Level') %></th>
                <th scope="col ">
                    <p class="mb-0"><%= __('Contributions') %><br><%= __('(Recording + Validating)')%> </p>
                </th>
                <th scope="col "><%= __('Badge') %></th>
            </tr>
            </thead>
            <tbody id="table-rows"></tbody>
        </table>
    </div>
    <div class="row mx-lg-5">
        <p class="col-12 col-lg-8 font-weight-light-lg"><%= __('Please note that your levels and badges may take upto 48hrs to update. Your contribution does not expire, but may decrease though if it doesn’t pass the validation test. We want you to remain an active contributor to Bolo India and stand a chance to get recognised by the Ministry of Electronics and Information Technology.')%></p>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<%- include('../common/footer.ejs',{path:"./"}) %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>$("footer").removeClass("fixed-bottom").addClass("bottom")</script>
<script src="../../js/dekhoIndia/badges_info.js"></script>

</body>
</html>