<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/moduleIntro.css">
<div class="col-lg-10 col-md-12 col-12 mt-4 mx-lg-auto p-5">
    <div class="p-0 m-0" id="module-intro-row-cover">
        <div class="row m-0" id="module-intro-row">
            <div class="col-lg-1 col-2 align-self-center" id="moduleLogo">
                <img src="<%= `/img/${locale}-${img}`%>" alt="logo" width="100" height="80">
            </div>
            <div class="col-lg-11 col-10">
                <h1 class="col-12 module-intro-heading font-size-lg-40 font-weight-normal" style="font-family:Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif;color:#142747;font-weight:200"><span class="text-primary"><%= __(name) %></span> <span style="color:#ffbf00"><%= __('India')%></span>
                </h1>
                <p class="col-12 para-font font-size-lg-20 text-primary" style="font-family:Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;color:#000">
                    <%= __(intro) %>
                </p>
            </div>

        </div>
    </div>
        <%- include ./horizontal_tri_color_line.ejs %>
</div>