<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/moduleIntro.css">
<div class="col-lg-10 col-md-12 col-12 mt-4 mx-lg-auto p-lg-5 py-3 px-4">
    <div class="p-0 m-0">
        <div class="d-flex m-0 pb-2 pr-lg-4" id="module-intro-row">
            <div id="moduleLogo">
                <img src="<%= `/img/${locale}-${img}`%>" alt="logo" width="84" height="76">
            </div>
            <div class="module-intro-row-cover flex-grow-1">
                <h1 class="module-intro-heading font-size-lg-40 font-weight-normal" style="font-family:Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif;color:#142747;font-weight:200"><span class="text-primary"><%= __(name) %></span> <span><%= __('India')%></span>
                </h1>
                <p class="para-font font-size-lg-20 text-primary" style="font-family:Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;color:#000">
                    <%= __(intro) %>
                </p>
            </div>

        </div>
    </div>
        <%- include ./horizontal_tri_color_line.ejs %>
</div>