<div class="test-mic-speakers-container">
    <div class="col-12 test-mic-speakers-details d-none" id="test-mic-speakers-details">
        <div class="row justify-content-between mb-2 mb-md-4 mb-lg-4">
            <div class="col-lg-4 col-md-5 test-mic-heading">
                <p>
                    <%= __('Test your Microphone and Speakers') %>
                </p>
            </div>
            <div class="col-lg-1 col-md-1">
                <button class="test-mic-close" id="test-mic-close">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#343A40"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="row justify-content-around mx-3 mx-lg-0 mx-xl-5 mb-2 align-items-center">
            <div class="col-lg-5 col-md-10 px-0 mb-2 mb-lg-0">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-6 col-md-5 col-sm-5 mb-2 mb-lg-0">
                        <button id="test-mic-button" data-value="test-mic" class="test-btn rounded-pill">
                            <img src="../img/mic.svg" class="pr-10">
                            <span id="test-mic-text"><%= __('Test Mic') %></span>
                        </button>
                    </div>
                    <div class="col-lg-7 col-6 col-md-7 col-sm-8 d-flex align-items-center">
                        <canvas class="w-100 test-canvas" id="mic-canvas" style="background-color:#fff"></canvas>
                    </div>
                </div>
                <div class="row text-right m-0">
                    <div class="offset-lg-5 offset-md-5 col-lg-7 col-12 col-md-7 ambient-noise pt-0 pt-md-2 pt-lg-2 invisible" id="mic-msg">
                        <%= __('Please speak clearly') %>
                    </div>
                    <div class="offset-lg-5 offset-md-5 col-lg-7 col-12 col-md-7 ambient-noise d-none" id="no-noise">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 6.61372 15.6474 5.3098 15.027 4.17302L7.20059 11.9994L2.72059 7.51941L3.84059 6.39941L7.20059 9.75941L14.1166 2.84342C12.6491 1.1045 10.4535 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z" fill="#83E661"/>
                        </svg>
                        <%= __('Low/No Background Noise') %>
                    </div>
                    <div class="offset-lg-5 offset-md-5 col-lg-7 col-12 col-md-7 d-none ambient-noise" id="noise">
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.23868 0.427299L0.131952 12.0734C-0.230716 12.6677 0.197039 13.4298 0.893274 13.4298H15.1067C15.803 13.4298 16.2307 12.6677 15.868 12.0734L8.76132 0.427298C8.41366 -0.142434 7.58634 -0.142432 7.23868 0.427299ZM7.33109 3.86204H9.11485V9.21329H7.33109V3.86204ZM8.22297 11.8889C8.71554 11.8889 9.11485 11.4896 9.11485 10.997C9.11485 10.5045 8.71554 10.1052 8.22297 10.1052C7.7304 10.1052 7.33109 10.5045 7.33109 10.997C7.33109 11.4896 7.7304 11.8889 8.22297 11.8889Z" fill="#FCC232"/>
                        </svg>
                        <%= __('Background Noise Detected') %>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-10 px-0 mt-2 mt-lg-0">
                <div class="row justify-content-center">
                    <audio controls="controls" id="test-speaker-hidden" style="display:none">
                        <source src="../aud/sample_audio_file.mp3">
                    </audio>
                    <div class="col-lg-5 col-6 col-md-5 col-sm-5 mb-2 mb-lg-0">
                        <button id="play-speaker" data-value="test-speaker" class="test-btn rounded-pill">
                            <img src="../img/speaker.svg" class="pr-10">
                            <span id="test-speaker-text"><%= __('Test Speakers') %></span>
                        </button>
                    </div>
                    <div class="col-lg-7 col-6 col-md-7 col-sm-8 d-flex align-items-center">
                        <canvas class="w-100 test-canvas" id="speaker-canvas" style="background-color:#fff"></canvas>
                    </div>
                </div>
                <div class="row noise-container only-display">
                    <div class="offset-lg-5 offset-md-5 col-lg-7 col-12 col-md-7 ambient-noise invisible">
                        <%= __('Please speak clearly') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>