<div class="modal fade" data-backdrop="static" data-keyboard="false" id="profanityUserModal" tabindex="-1" role="dialog" aria-labelledby="profanityUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0">
                <h1 class="modal-title text-center">
                    <%= __('User Details') %>
                </h1>
            </div>
            <div class="modal-body px-6" id="speaker-details">
                <div class="form-group mt-3">
                    <label for="username" class="form-label">
                        Email
                    </label> <input class="form-control" type="email" id="username" data-toggle="tooltip" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="preferred-language" class="form-label">
                        Language
                    </label>
                    <select class="form-control" id="preferred-language">
                        <option selected="selected" value="">
                            <%= __('Select Your Preferred Language') %>
                        </option>
                        <% LANGUAGES.forEach(function(lang) { %>
                            <option value="<%= lang.value %>">
                                <%= lang.text %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label mt-2">
                        By proceeding ahead you agree to let your email address be saved in our database
                    </label>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12" data-toggle="tooltip" title="<%= __('Please validate any error message before proceeding')%>">
                        <button type="button" id="proceed-box" class="btn btn-primary h6 shadow w-100 rounded p-2" data-toggle="modal" data-target="#languageModal">
                            <%= __('LET\'S GO') %>
                        </button></div>
                </div>
            </div>
        </div>
    </div>
</div>