<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/header.css">
<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/theme.css">
<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/contributionLangChange.css">
<div class="header-fixed">
    <nav class="justify-content-start navbar navbar-expand-lg navbar-light bg-app-primary pl-0 py-lg-0 py-0 pr-0 text-white font-family-Rowdies" id="header-nav-bar">
        <div class="row m-0 header-logo-size">
            <button class="navbar-toggler px-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="height:18px;width:18px"></span>
            </button>
            <div class="d-flex align-items-center">
                <a class="logo-text text-dark" href="/">
                    <h2 class="mb-0" id="bhasini_logo">
                        <img src="<%- `/img/${locale}-logo.svg` %>" class="d-none d-md-block d-lg-block" alt="Bhaashini" width="200" height="65">
                        <img src="<%- `/img/${locale}-logo-sm.svg` %>" class="d-block d-sm-block d-md-none d-lg-none mobile-logo" alt="Bhaashini" width="48" height="48">
                    </h2>
                </a>
                <div class="vertical-line ml-1 ml-lg-0"></div>
                <%- include ./bhasadaanLogoText.ejs %>
                <div id="logo_separator" class="ml-3 mr-0"></div>
            </div>
        </div>
        <div class="row ml-2 pl-1 d-none-mob d-none d-lg-flex">
            <img src="<%= `/img/${locale}-${img}`%>" alt="module_logo" width="50" height="40" id="module_header_logo">
            <a class="m-0 align-self-center text-decoration-none text-primary" style="padding-right:10px;padding-left:10px" href="<%= homePath %>">
                <%= __(MODULE) %> 
            </a>
            <div id="tilt_line"></div>
            <p class="m-0 align-self-center text-primary">
                <%= PAGE_TITLE %>
            </p>
        </div>
        <div class="mobile-nav collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav py-3 py-lg-0 py-md-0 d-block d-sm-block d-lg-none" id="module_name">
                <li class="nav-item module-item p-2 d-none" value="home"><a href="" class="nav-link text-muted-white">
                        <%= __('Home') %>
                    </a></li>
                <li class="nav-item module-item pl-4 pt-2 pb-2 pr-2 d-flex align-items-center" value="suno"><a id="suno_india_tab" href="../sunoIndia/home.html" class="nav-link text-muted-white pl-2 p-lg-2 p-md-2">
                        <span>
                            <%= __(config.initiative_1) %>
                        </span> 
                    </a></li>
                <li class="nav-item module-item pl-4 pt-2 pb-2 pr-2 d-flex align-items-center" value="bolo"><a id="bolo_india_tab" href="../boloIndia/home.html" class="nav-link text-muted-white pl-2 p-lg-2 p-md-2">
                        <span>
                            <%= __(config.initiative_2) %>
                        </span> 
                    </a></li>
                <li class="nav-item module-item pl-4 pt-2 pb-2 pr-2 d-flex align-items-center" value="likho"><a id="likho_india_tab" href="../likhoIndia/home.html" class="nav-link text-muted-white pl-2 p-lg-2 p-md-2">
                        <span>
                            <%= __(config.initiative_3) %>
                        </span> 
                    </a></li>
                <li class="nav-item module-item pl-4 pt-2 pb-2 pr-2 d-flex align-items-center" value="dekho"><a id="dekho_india_tab" href="../dekhoIndia/home.html" class="nav-link text-muted-white pl-2 p-lg-2 p-md-2">
                        <span>
                            <%= __(config.initiative_4) %>
                        </span> 
                    </a></li>
            </ul>
        </div>
    </nav>
    <div class="nav-right">
        <ul class="locale-selector">
            <li class="nav-item module-item dropdown p-0" id="locale_language_dropdown">
                <a class="nav-link dropdown-toggle cursor-pointer" id="localeDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/locale_logo.svg" alt="locale_logo" class="align-middle mx-1">
                    <span class="language-text text-muted-white mr-md-1">
                        <%= __('Language') %>
                    </span>
                </a>
                <div id="localisation_dropdown" class="localisation-dropdown dropdown-menu font-family-Lato" aria-labelledby="localeDropdownMenuButton">
                    <% LANGUAGES.forEach(function(obj) { if(obj.hasLocaleText){%>
                        <a id="<%= obj.value.toLowerCase() %>" class="dropdown-item d-flex align-items-center" href="#" locale="<%= obj.id %>">
                            <%= obj.text %>
                        </a>
                    <%} }) %>
                </div>

            </li>
            <li class="nav-item p-2 d-none"><a href="<%- `${path}about-us.html`%>" class="nav-link text-muted-white">
                    About Us
                </a>
            </li>
        </ul>
        <ul class="user-options" id="userNavBar">
            <li class="nav-item module-item dropdown p-0" id="userDropDown">
                <a class="nav-link d-none dropdown-toggle cursor-pointer" id="nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/usericon.svg" alt="usericon" class="align-middle">
                    <span id="nav-username" class="nav-username-text text-muted-white mr-md-1"></span>
                </a>
                <div id="user_profile_dropdown" class="user-profile-dropdown dropdown-menu font-family-Lato" aria-labelledby="nav-user">
                    <a id="user_profile_name" class="dropdown-item point-none align-items-center py-3 py-md-2 py-lg-2" href="#"></a>
                    <a id="anonymous_user" class="dropdown-item point-none align-items-center py-3 py-md-2 py-lg-2" href="#"><%= __('(No Username)')%></a>
                    <a id="change_user" class="dropdown-item d-flex align-items-center py-3 py-md-2 py-lg-2" href="#" data-toggle="modal" data-target="#userModal">
                        <%= __('Change User')%>
                    </a>
                    <a id="profile_user" class="dropdown-item d-flex align-items-center py-3 py-md-2 py-lg-2" href="<%- `${path}my-badges.html`%>">
                        <%= __('My Badges')%>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<%- include ./error-popup.ejs %>
    <%- include ./contributionLangChange.ejs %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/common/header.js"></script>
        <script src="/js/common/languageChange.js"></script>