<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 py-lg-0">
    <div class="d-flex align-items-center">
        <a class="logo-text text-dark" href="/">
            <h2 class="mb-0">
                <img src="../../img/BoloIndiaLogo.png" alt="Bolo India" width="64px" height="54px">
            </h2>
        </a>
        <div class="version-beta">Beta</div>
    </div>
    <div class="row ml-4 border-left d-none-mob">
        <p class="m-0" style="padding-right:21px;padding-left:20px"><%= __(MODULE) %></p>
        <p class="m-0" style="color:#ea913f"><%= __(PAGE_TITLE) %></p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item p-2 dropdown" id="locale_language_dropdown">
                <div href="https://inference.vakyansh.in/" class="nav-link text-dark font-weight-bold dropdown-toggle cursor-pointer" id="localeDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= __('Language') %>
                </div>
                <div id="localisation_dropdown" class="dropdown-menu" aria-labelledby="localeDropdownMenuButton"><a id="english" class="dropdown-item" href="#" locale="en">English</a></div>

            </li><li class="nav-item p-2"><a href="<%- `${path}about-us.html`%>" class="nav-link text-dark font-weight-bold">
                    <%= __('About Us') %>
                </a></li>
            <li class="nav-item p-2"><a class="nav-link text-dark font-weight-bold d-none" id="nav-user"><span class="material-icons align-middle mx-1">account_circle</span> <span id="nav-username"></span></a></li>

    </ul></div>
</nav>