<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/header.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light pl-lg-4 pl-md-4 pl-3 py-lg-0 py-0 pr-0" id="header-nav-bar">
    <div class="row m-0">
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="d-flex align-items-center">
            <a class="logo-text text-dark" href="/">
                <h2 class="mb-0" id="bhasini_logo">
                    <img src="../../img/Frame.svg" alt="Bhaashini" width="64px" height="54px">
                </h2>
            </a>
            <div class="vertical-line"></div>
            <a class="logo-text text-dark position-relative" href="/" style="padding-top:5px" id="bhashadaan_logo">
                <img src="../../img/bhasadaan.svg" alt="BhashaDaan" width="190px" height="48px">
                <span class="beta-version">Beta</span>
            </a>
            <div class="version-beta ml-4 d-none">Beta</div>
        </div>
    </div>
    <div id="logo_separator" class="ml-2"></div>
    <div class="row ml-1 d-none-mob">
        <img src="<%= `${img}`%>" alt="module_logo" width="50" height="40" id="module_header_logo">
        <a class="m-0 align-self-center text-decoration-none font-weight-bold" style="padding-right:10px;padding-left:10px;color:#142747;font-size:20px" href="<%= homePath %>"><%= __(MODULE) %> <span style="color:#ffbf00">India</span></a>
        <div id="tilt_line"></div>
        <p class="m-0 align-self-center" style="color:#111"><%= __(PAGE_TITLE) %></p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item p-2 dropdown" id="locale_language_dropdown">
                <a class="nav-link text-dark font-weight-bold dropdown-toggle cursor-pointer" id="localeDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../img/locale_logo.svg" alt="locale_logo" class="align-middle mx-1">
                    <span><%= __('Language') %></span>
                </a>
                <div id="localisation_dropdown" class="dropdown-menu" aria-labelledby="localeDropdownMenuButton"><a id="english" class="dropdown-item" href="#" locale="en">English</a></div>

            </li><li class="nav-item p-2 d-none"><a href="<%- `${path}about-us.html`%>" class="nav-link text-dark font-weight-bold">
                    <%= __('About Us') %>
                </a>
            </li>
        </ul>
    </div>
        <ul class="navbar-nav ml-auto" id="userNavBar">
            <li class="nav-item p-2 dropdown" id="userDropDown">
                <a class="nav-link text-dark font-weight-bold d-none dropdown-toggle cursor-pointer" id="nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../img/usericon.svg" alt="usericon" class="align-middle mx-1">

                <span id="nav-username"></span>
                </a>
                <div id="user_profile_dropdown" class="dropdown-menu" aria-labelledby="nav-user">
                    <a id="user_profile_name" class="dropdown-item point-none" href="#"></a>
                    <a id="anonymous_user" class="dropdown-item point-none" href="#"><%= __('(No Username)')%></a>
                    <a id="change_user" class="dropdown-item" href="#" data-toggle="modal" data-target="#userModal"><%= __('Change User')%></a>
                </div>
            </li>
        </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
<script src="../../js/common/header.js"></script>