<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/feedback.css">

<button id="feedback_button" class="btn float" type="button" data-toggle="modal" data-target="#feedback_modal">
    <img src="../../img/feedback-icon.svg" class="my-float" alt="My Happy SVG">
</button>

<div class="modal fade" id="feedback_modal" tabindex="-1" aria-labelledby="FeedbackModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered custom-modal">
        <div class="modal-content border-2" style="padding-top:12px">
            <div class="modal-header d-block border-0">
                <h4 class="modal-title text-center">
                    <%= __('Your Feedback') %>
                </h4>
                <div class="text-center" style="color:#8b8b8b;margin-top:9px;margin-bottom:24px">
                    <%= __('We would like to get your feedback to improve this site') %>
                </div>
                <button type="button" id="feedback_close_btn" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="border-top"></div>
            <div class="modal-body" style="padding:20px 34px 45px 32px">
                <div class="mb-3">
                    <label class="form-check-label label-color-feedback">
                        <%= __('Giving Feedback for?') %> <span class="required">(*required)</span>
                    </label>
                </div>
                <div class="mb-4">
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="moduleSelectRadio" id="bolo_id" value="bolo">
                            <label class="form-check-label xs-radio-label" for="bolo_id">
                                <%= __('Bolo') %>
                            </label>
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="moduleSelectRadio" id="suno_id" value="suno">
                            <label class="form-check-label xs-radio-label" for="suno_id">
                                <%= __('Suno') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="moduleSelectRadio" id="likho_id" value="likho">
                            <label class="form-check-label xs-radio-label" for="likho_id">
                                <%= __('Likho') %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-4">   
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="moduleSelectRadio" id="dekho_id" value="dekho">
                            <label class="form-check-label xs-radio-label" for="dekho_id">
                                <%= __('Dekho') %>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="moduleSelectRadio" id="others_id" value="others">
                            <label class="form-check-label xs-radio-label" for="others_id">
                                <%= __('Others')%>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-check-label label-color-feedback" for="select_page_id">
                        <%= __('Select page') %> <span class="required">(*required)</span>
                    </label>
                </div>
                <div class="md-4">
                    <div class="form-row">
                        <select class="form-control" id="select_page_id" name="select_page_id">
                        </select>
                    </div>
                </div>
                
                <div class="mb-4 mt-4">
                    <label class="form-check-label label-color-feedback">
                        <%= __('What is your opinion of this page') %> <span class="required">(*required)</span>
                    </label>
                </div>
                <div class="mb-4 mt-4">
                    <div class="form-row opinion">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input very_sad" type="radio" name="opinionRadio" id="very_sad_id" value="very_sad">
                            <label class="form-check-label xs-radio-label opinion-label" id="very_sad_label" for="very_sad_id">
                                <svg width="52" height="52" class="very_sad-svg" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.6693C37.9649 47.6693 47.6654 37.9688 47.6654 26.0026C47.6654 14.0364 37.9649 4.33594 25.9987 4.33594C14.0325 4.33594 4.33203 14.0364 4.33203 26.0026C4.33203 37.9688 14.0325 47.6693 25.9987 47.6693Z" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.332 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6641 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6654 34.6719C33.582 31.4219 30.787 28.1719 25.9987 28.1719C21.2104 28.1719 18.4154 31.4219 17.332 34.6719" stroke="#959595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input sad" type="radio" name="opinionRadio" id="sad_id" value="sad">
                            <label class="form-check-label xs-radio-label opinion-label" id="sad_label" for="sad_id">
                                <svg width="52" height="52" class="sad-svg" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.6693C37.9649 47.6693 47.6654 37.9688 47.6654 26.0026C47.6654 14.0364 37.9649 4.33594 25.9987 4.33594C14.0325 4.33594 4.33203 14.0364 4.33203 26.0026C4.33203 37.9688 14.0325 47.6693 25.9987 47.6693Z" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.332 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6641 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M18.416 34.6693L33.5827 30.3359" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input neutral" type="radio" name="opinionRadio" id="neutral_id" value="neutral">
                            <label class="form-check-label xs-radio-label opinion-label" id="neutral_label" for="neutral_id">
                                <svg width="52" height="52" class="neutral-svg" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.6693C37.9649 47.6693 47.6654 37.9688 47.6654 26.0026C47.6654 14.0364 37.9649 4.33594 25.9987 4.33594C14.0325 4.33594 4.33203 14.0364 4.33203 26.0026C4.33203 37.9688 14.0325 47.6693 25.9987 47.6693Z" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.332 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6641 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.332 30.3359H34.6654" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                </svg>
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input happy" type="radio" name="opinionRadio" id="happy_id" value="happy">
                            <label class="form-check-label xs-radio-label opinion-label" id="happy_label" for="happy_id">
                                <svg width="52" height="52" class="happy-svg" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.9987 47.6693C37.9649 47.6693 47.6654 37.9688 47.6654 26.0026C47.6654 14.0364 37.9649 4.33594 25.9987 4.33594C14.0325 4.33594 4.33203 14.0364 4.33203 26.0026C4.33203 37.9688 14.0325 47.6693 25.9987 47.6693Z" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.332 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6641 19.6112V19.3945" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.6654 30.3359C33.582 33.5859 30.787 36.8359 25.9987 36.8359C21.2104 36.8359 18.4154 33.5859 17.332 30.3359" stroke="#959595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </label>
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input very-happy" type="radio" name="opinionRadio" id="very_happy_id" value="very_happy">
                            <label class="form-check-label xs-radio-label opinion-label" id="very_happy_label" for="very_happy_id">
                                <svg class="very-happy-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.0006 47.6654C37.9668 47.6654 47.6673 37.9649 47.6673 25.9987C47.6673 14.0325 37.9668 4.33203 26.0006 4.33203C14.0345 4.33203 4.33398 14.0325 4.33398 25.9987C4.33398 37.9649 14.0345 47.6654 26.0006 47.6654Z" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M17.334 19.6073V19.3906" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M34.668 19.6073V19.3906" stroke="#959595" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M26.0007 38.9987C28.2992 38.9987 30.5036 38.0856 32.1289 36.4603C33.7542 34.835 34.6673 32.6306 34.6673 30.332H17.334C17.334 32.6306 18.2471 34.835 19.8724 36.4603C21.4977 38.0856 23.7021 38.9987 26.0007 38.9987Z" stroke="#959595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </label>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:16px">
                    <label class="form-check-label label-color-feedback" for="category_id">
                        <%= __('Please select your feedback category') %> <span>(optional)</span>
                    </label>
                    <div class="form-row">
                        <select id="category_id" class="form-control"><option value="category" selected="selected"><%= __('Select a category') %></option>
                        </select>
                    </div>
                </div>

                <div class="md-4">
                    <div class="form-row">
                        <label class="form-check-label label-color-feedback" for="feedback_textarea" style="margin-top:16px;margin-bottom:5px">
                            <%= __('Share your feedback below:') %> <span>(optional)</span>
                        </label>
                    </div>
                </div>
                <textarea name="feedback_textarea" maxlength="1000" id="feedback_description" class="w-100 p-3 other-reason mb-4 label-color-feedback" rows="3" placeholder="<%= __('Type here...')%>" style="background-color:#fff;border:1px solid rgba(149,149,149,.6)"></textarea>
                <div class="d-flex justify-content-center">
                    <button id="submit_btn" class="btn btn-primary submit-btn-feedback" disabled="disabled"><%= __('SUBMIT')%></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="feedback_thanku_modal" tabindex="-1" aria-labelledby="FeedbackThankYou" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0">
                <img src="../../img/success.svg" alt="Success">
                <h4 class="modal-title text-center">
                    <%= __('Submitted successfully') %>
                </h4>
                <button type="button" id="feedback_thanku_close_btn" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center"><%= __('Thank you for your feedback!') %></div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/common/feedback.js"></script>
