<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages (Beta)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <meta property="og:title" content="<%= __('Bolo India: A crowdsourcing initiative for Indian languages')%>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= __('I\'ve contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?')%>">
    <meta property="og:site_name" content="Bolo India ">
    <meta property="og:url" content="https://boloindia.nplt.in">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' href="https://vakyansh-json-data.s3.ap-south-1.amazonaws.com/bootstrap-tourist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/sunoIndia/home.css">
    <link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
</head>

<body>
<%- include('../common/header.ejs',{bolo:"../home.html", suno:"../sunoIndia/home.html",likho:"../likhoIndia/home.html",dekho:"./home.html",path:"../"}); %>
<div class="container-fluid supreme-container">
    <div class="row">
        <%- include('../common/moduleIntro.ejs',{name:'Dekho India',intro:'Help your language by labelling images'}); %>
    </div>
    <div class="row">
        <%- include ../common/languageNavBar.ejs %>
    </div>
    <div class="m-auto row justify-content-center mt-lg-4 mx-lg-5">
        <%- include('../common/cards.ejs',{left:{h1:"Label",h2:"Type the text as per the image","p1":"",img:"../../img/look.svg"},right:{h1:"Validate",h2:"Correct the text as per the image","p1":"",img:"../../img/validate.svg"}}); %>
    </div>
    <div class="row">
        <div class="col-12 col-md-11 col-lg-11 ml-lg-auto p-5 mt-4 text-dark">
            <h2 class="font-wt-900 site-blue lh-5">
                <%= __('Contributions made to Dekho India') %>
            </h2>
            <div class="row mt-5" id="speaker-data">
                <div class="col-12 col-lg-11 col-md-11">
                    <div class="row justify-content-center" id="loader1">
                        <div><span class="spinner"></span></div>
                    </div>
                    <div class="row text-center contribution-details" id="contribution-details">
                        <%- include('../common/contributionStats.ejs',{labels :['Languages','People participated','Images labelled','Text corrected']})%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 lazy">
        <div class="col-12 col-md-11 col-lg-11 p-5 ml-lg-auto">
            <div id="bar_charts_container">
                <h4 class="h4 mb-4">
                    <%= __('Your language and top 3 most contributed languages') %>
                </h4>
                <div class="d-flex mb-3">
                    <div name="topLanguageChart" id="hours_chart" value="hours">
                        <%= __('Images labelled and corrected') %>
                    </div>
                </div>
                <div class="justify-content-center align-items-center d-none" id="topLanguageSpinner">
                    <div><span class="spinner"></span></div>
                </div>
                <%- include ../common/horizontalBarGraph.ejs %>
            </div>
        </div>
    </div>
    <%- include('../common/viewAllDetailBtn.ejs',{DASHBOARD:'./dashboard.html'}); %>
</div>
<%- include ../common/userDetails.ejs %>
<%- include ../common/content-languages.ejs %>
<%- include ../common/say-listen-language.ejs %>
<%- include ../common/feedback.ejs %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('../common/footer.ejs',{path:"../"}) %>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="../../js/dekhoIndia/home.js" id="home-page"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>

</body>
</html>