<html lang="en">

<head>
    <title>Bolo India: A crowdsourcing initiative for Indian languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="WzZdl_-Ka4oElzowGxq3Y8knBPs31AOHFnEqSUtjGFU">
    <meta name="description" content="Bolo India: A crowdsourcing initiative for Indian languages. A speech recognition product, that will be as Indian, as you and I. It will also be free of cost for every Indian. Make it happen by donating your voice">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169921734-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-169921734-1")</script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
</head>

<body>
<%- include('../common/headerWithoutNavBar.ejs',{path:"../",MODULE:"Likho India", PAGE_TITLE:"Dashboard"}) %>
<div class="container container-fluid supreme-container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <%- include('../common/back-btn.ejs',{url:"./home.html"}) %>
            </div>
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6">
                    <div class="mb-3">
                        <%= __('Select the language pair') %>:
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7 all-languages mb-4">
                        <div class="row m-0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
                                <label class="position-absolute text-muted" style="left:15px;margin-top:13px;font-size:14px"><%= __('FROM') %>:</label>
                                <select class="col-lg-10 col-md-10 col-sm-12 col-xs-12 btn dropdown-toggle h6 w-90 rounded" id="from-dash-language" style="height:48px;padding:5px 10px 5px 75px;border-color:#959595;color:#959595">
                                    <option selected="selected" class="pointer" id="language_button" value="">
                                        <%= __('All Languages') %>
                                    </option>
                                    <% LANGUAGES.forEach(function(lang) { %>
                                        <option value="<%= lang.value %>">
                                            <%= lang.text %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-0">
                            <label class="position-absolute text-muted" style="left:15px;margin-top:13px;font-size:14px"><%= __('TO') %>:</label>
                            <select class="col-12 btn dropdown-toggle h6 w-90 rounded" id="to-dash-language" style="height:48px;padding:5px 10px 5px 75px;border-color:#959595;color:#959595">
                                <option selected="selected" class="pointer" id="language_button" value="">
                                    <%= __('All Languages') %>
                                </option>
                                <% LANGUAGES.forEach(function(lang) { %>
                                    <option value="<%= lang.value %>">
                                        <%= lang.text %>
                                    </option>
                                <% }) %>
                            </select>
                           </div>
                        </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 data-updated">
                    <div class="m-0" style="padding-top:12px"><span>
                                    <%= __('Data Last Updated') %>:
                                </span><span id="data-updated"></span></div>
                </div>
            </div>
        </div>
    </div>
    <%- include ../common/noDataFoundPopUp.ejs %>
    <div class="row" id="speaker-data">
        <div class="col-12">
            <div class="row justify-content-center" id="loader1">
                <div><span class="spinner"></span></div>
            </div>
            <div class="row text-center contribution-details d-none" id="contribution-details">
                <%- include('../common/contributionStats.ejs',{labels :['Language pairs','People participated','Translations done','Translations corrected']})%>
            </div>
        </div>
    </div>
    <div class="row chart-row">
        <div class="col-12">
            <div class="row justify-content-center mt-5 mx-0">
                <div id="map-loader" class="col-12 col-lg-6 text-center d-flex justify-content-center align-items-center chart-spinner">
                    <span class="spinner"></span></div>
                <div class="col-12 col-lg-5 mb-3 text-center chart state-chart text-dark p-4">
                    <div class="text-left px-3 pb-3 state-chart-text">
                        <%= __('State Wise distribution') %>
                    </div>
                    <%- include ../common/map.ejs %>
                </div>
                <div id="timeline-loader" class="col-12 col-lg-5 text-center d-flex justify-content-center align-items-center chart-spinner">
                    <span class="spinner"></span></div>
                <div class="col-12 col-lg-5 text-center chart timeline-chart-container">
                    <%- include ../common/lineGraph.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../common/userDetails.ejs %>
<%- include ../common/content-languages.ejs %>
<%- include ../common/say-listen-language.ejs %>
<%- include ../common/feedback.ejs %>
<%- include('../common/footer.ejs',{path:"../"}) %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../../js/likhoIndia/dashboard.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/maps.js"></script>
<script src="https://www.amcharts.com/lib/version/4.9.23/themes/animated.js"></script>
</body>
</html>